[2018-03-22 21:39] l34Um1 opened #2094 "Item Reintegration | 20€ Bounty"
Some items are being integrated into the upgrade path of other items. This is experimental and this is the first wave, with more to follow, depending on user feedback. Items integrated like this can’t be bought as a tier 1 item anymore.

Blade Mail out of AC 2. Martyrs Mail out of Blade Mail 2.
Echo Sabre out of Skadi 4.
Crimson Guard out of Heart 3. Reduction Orb out of Crimson Guard.
Aeon Disk o

[2018-03-22 22:05] l34Um1 opened #2095 "Mana Boots Rework | 20€ Bounty"
Mana boots still give passive GPM but the amount is attached to a new variable. This variable starts at 100 and slowly ticks down to 30. At 100 the boots give 100% of their written GPM, at 30 they give 30%. The counter ticks down by 1 every 4 seconds.
The counter can be reset by picking up a bounty rune or upgrading the boots.

Guardian Grieves can no longer be upgraded into at any point. Instead,

[2018-03-22 22:29] l34Um1 opened #2096 "Remove Tier 6 Bosses | Bounty 20€"
Remove boss tier 6. Tier 5 is the new highest. There are no bosses exclusive to tier 5. Instead tier 5 houses all bosses from all previous tiers, rebalanced with new stats. This means every boss needs 2 different KV files, one for their original tier and one for their tier 5 version. This includes their summons and abilities.

Example: Shielder is a tier 2. Shielder stays a tier 2 but also appears

[2018-03-22 22:36] l34Um1 opened #2098 "Sohei W Rework - Wholeness of Body + New level 20 talent | 20€ Bounty"
This replaces Guard.
New name: Wholeness of Body
"Sohei gains 75/80/85/90/95/100% status resistance for 2 seconds. Afterwards he gets healed for 75/150/225/300/600/900 + 25% of the damage taken during its duration."

New level 20 talent, replacing “Momentum reduces Guard cooldown”.
“Wholeness of Body can be used on allies”. When activated on allies the ability works as it would on Sohei.

[Bug Bou

[2018-03-22 22:48] l34Um1 opened #2099 "Bunch of KV work | 5€ Bounty"
#### Move Charger from Tier 3 to Tier 2

No need to change his numbers.

#### Move Lycan from Tier 2 to Tier 3

No need to change his numbers.

#### Remove Refresher Core from the game

Just completely delete it. We need KV files for Refresher 1-5 and Octarine Core 1-5. Satanic core is going to be kept but loses its cooldown reduction property. It no longer builds out of Octarine 2 and Satanic 2 b

[2018-03-22 22:58] #1943 closed

[2018-03-22 22:58] #1904 closed

[2018-03-22 22:59] #1836 closed

[2018-03-22 23:56] l34Um1 opened #2100 "Capture Points | 25€ Bounty"
Starting at 15 minutes capture points will appear every 10 minutes in random mirrored locations on the map. There are always 2 capture points. The captures points do not appear on the same horizontal line as the center highground.

![unknown 3](https://user-images.githubusercontent.com/24982519/37803728-d095fed4-2e30-11e8-8eb0-9df08a4542e7.png)
This is the map.

![unknown 3](https://user-images.gi

[2018-03-23 09:01] Shusama opened #2103 "Slice Boss - Code"
# Boss: Slice
We have several bosses already implemented which you should feel free to use as inspiration/reference. Also you can reference some other open source custom games on Github which have boss fights including Second Day of Frostivus where you will find our IO boss (designed by Yahnich). Files should follow the structure already established in the components subfolders (such as /abilities

[2018-03-23 09:27] Shusama opened #2104 "Slice Boss - Model/Animation/Icons"
# Boss: Slice
We have several bosses already implemented which you should feel free to use as inspiration/reference. Also you can reference some other open source custom games on Github which have boss fights including Second Day of Frostivus where you will find our IO boss (designed by Yahnich). Files should follow the structure already established in the components subfolders (such as /abilities

[2018-03-23 09:50] Shusama opened #2105 "Slice Boss - Particles"
# Boss: Slice
We have several bosses already implemented which you should feel free to use as inspiration/reference. Also you can reference some other open source custom games on Github which have boss fights including Second Day of Frostivus where you will find our IO boss (designed by Yahnich). Files should follow the structure already established in the components subfolders (such as /abilities

[2018-03-23 09:52] Shusama opened #2106 "Slice Boss - Sound"
# Boss: Slice
We have several bosses already implemented which you should feel free to use as inspiration/reference. Also you can reference some other open source custom games on Github which have boss fights including Second Day of Frostivus where you will find our IO boss (designed by Yahnich). Files should follow the structure already established in the components subfolders (such as /abilities

[2018-03-23 12:23] l34Um1 opened #2107 "Azazel - Baseline functionality | 20€ Bounty"
# Azazel

Azazel is a fallen angel that runs a shop in the center area of the map. This is a major new feature. This issue contains baseline functionality.

Unlike the regular shop, Azazel does not trade in gold. Instead all items in his shop are only available for purchase via cores.

![unbenannt](https://user-images.githubusercontent.com/24982519/37824754-f4774d78-2e8d-11e8-9624-73e44d7007ae.PNG

[2018-03-23 12:49] l34Um1 opened #2108 "Azazel Model"
# Azazel

Azazel is a creature established in various biblical stories. The one we are going with is [1 Enoch and 3 Enoch](https://en.wikipedia.org/wiki/Azazel#In_1_Enoch_and_3_Enoch). A fallen angel that taught mankind how to make weapons.

## Model

### Azazel
Azazel was outcast into the desert and had his face covered. He should be wearing wide desert clothing, similar to this picture.
![sz1-21

[2018-03-23 13:02] l34Um1 opened #2109 "Azazel Voice (Voice acting and writing)"
# Azazel

Azazel is a creature established in various biblical stories. The one we are going with is [1 Enoch and 3 Enoch](https://en.wikipedia.org/wiki/Azazel#In_1_Enoch_and_3_Enoch). A fallen angel that taught mankind how to make weapons.

This issue is both a voice over and writing issue.

## Voice

Azazel was outcast into the desert and had his face covered. He has various lines that play when

[2018-03-23 13:48] l34Um1 opened #2110 "Azazel Purchasables - Elixiers"
# Azazel

Azazel is a fallen angel that runs a shop in the center area of the map. This is a major new feature. This issue contains the first set of purchasable items.

Unlike the regular shop, Azazel does not trade in gold. Instead all items in his shop are only available for purchase via cores.

## Elixiers

Elixiers are one time consumables that give a temporary buff. They can't be stacked in i

[2018-03-23 14:10] l34Um1 opened #2111 "Azazel Purchasables - Summons | 30€ Bounty"
# Azazel

Azazel is a fallen angel that runs a shop in the center area of the map. This is a major new feature. This issue contains the second set of purchasable items.

Unlike the regular shop, Azazel does not trade in gold. Instead all items in his shop are only available for purchase via cores. Purchasables listed as Tier 1 will require a Tier 1 core and a 100 gold recipe, Tier 2 requires a Tie

[2018-03-23 15:09] Shusama opened #2112 "Magma Mage: Boss - Code | 50€ Bounty"
# Boss: Magma Mage
We have several bosses already implemented which you should feel free to use as inspiration/reference. Also you can reference some other open source custom games on Github which have boss fights including Second Day of Frostivus where you will find our IO boss (designed by Yahnich). Files should follow the structure already established in the components subfolders (such as /abil

[2018-03-23 15:30] Shusama opened #2113 "Magma Mage: Boss - Model/Animations/Icons | 150€ Bounty"
# Boss: Magma Mage
We have several bosses already implemented which you should feel free to use as inspiration/reference. Also you can reference some other open source custom games on Github which have boss fights including Second Day of Frostivus where you will find our IO boss (designed by Yahnich). Files should follow the structure already established in the components subfolders (such as /abil

[2018-03-23 16:20] Yahnich commented on #2080
i claim this

[2018-03-23 16:20] Yahnich commented on #2085
i claim this

[2018-03-23 16:55] warpdragon commented on #2091
I claim this mother fucker

[2018-03-23 17:09] Shusama opened #2114 "Magma Mage: Boss - Sound | 10€ Bounty"
# Boss: Magma Mage
We have several bosses already implemented which you should feel free to use as inspiration/reference. Also you can reference some other open source custom games on Github which have boss fights including Second Day of Frostivus where you will find our IO boss (designed by Yahnich). Files should follow the structure already established in the components subfolders (such as /abil

[2018-03-23 17:14] Yahnich commented on #2083
i'll also do particles #2080

[2018-03-23 17:14] Yahnich commented on #2087
ill also do particles #2085

[2018-03-23 17:22] Shusama opened #2115 "Magma Mage: Boss - Particles | 25€ Bounty"
# Boss: Magma Mage
We have several bosses already implemented which you should feel free to use as inspiration/reference. Also you can reference some other open source custom games on Github which have boss fights including Second Day of Frostivus where you will find our IO boss (designed by Yahnich). Files should follow the structure already established in the components subfolders (such as /abil

[2018-03-23 19:40] Shusama opened #2116 "Second Day Spiders: Boss - Code | 50€ Bounty"
# Boss Second Day Spiders:
We have several bosses already implemented which you should feel free to use as inspiration/reference. Also you can reference some other open source custom games on Github which have boss fights including Second Day of Frostivus where you will find our IO boss (designed by Yahnich). Files should follow the structure already established in the components subfolders (such

[2018-03-23 19:45] hesamironman commented on #2090
I claim this issue

[2018-03-23 20:27] Shusama opened #2117 "Second Day Spiders: Boss - Particles | 25€ Bounty"
# Boss Second Day Spiders:
We have several bosses already implemented which you should feel free to use as inspiration/reference. Also you can reference some other open source custom games on Github which have boss fights including Second Day of Frostivus where you will find our IO boss (designed by Yahnich). Files should follow the structure already established in the components subfolders (such

[2018-03-23 20:27] Shusama opened #2118 "Second Day Spiders: Boss - Sound | 10€ Bounty"
# Boss Second Day Spiders:
We have several bosses already implemented which you should feel free to use as inspiration/reference. Also you can reference some other open source custom games on Github which have boss fights including Second Day of Frostivus where you will find our IO boss (designed by Yahnich). Files should follow the structure already established in the components subfolders (such

[2018-03-23 20:27] Shusama opened #2119 "Second Day Spiders: Boss - Model/Animations/Icons | 150€ Bounty"
# Boss Second Day Spiders:
We have several bosses already implemented which you should feel free to use as inspiration/reference. Also you can reference some other open source custom games on Github which have boss fights including Second Day of Frostivus where you will find our IO boss (designed by Yahnich). Files should follow the structure already established in the components subfolders (such

[2018-03-23 20:33] l34Um1 opened #2120 "Azazel Purchasables - Buildings | 30€ Bounty"
# Azazel

Azazel is a fallen angel that runs a shop in the center area of the map. This is a major new feature. This issue contains the third set of purchasable items.

Unlike the regular shop, Azazel does not trade in gold. Instead all items in his shop are only available for purchase via cores. Purchasables listed as Tier 1 will require a Tier 1 core and a 100 gold recipe, Tier 2 requires a Tier

[2018-03-23 21:07] #1958 closed

[2018-03-23 21:08] #1781 closed

[2018-03-23 21:08] #1766 closed

[2018-03-23 21:08] #1595 closed

[2018-03-24 07:39] Shusama opened #2123 "Swiper: Boss - Code | 50€ Bounty"
# Boss Swiper
We have several bosses already implemented which you should feel free to use as inspiration/reference. Also you can reference some other open source custom games on Github which have boss fights including Second Day of Frostivus where you will find our IO boss (designed by Yahnich). Files should follow the structure already established in the components subfolders (such as /abilities

[2018-03-24 07:54] Shusama opened #2124 "Swiper: Boss - Model/Animations/Icons"
# Boss Swiper
We have several bosses already implemented which you should feel free to use as inspiration/reference. Also you can reference some other open source custom games on Github which have boss fights including Second Day of Frostivus where you will find our IO boss (designed by Yahnich). Files should follow the structure already established in the components subfolders (such as /abilities

[2018-03-24 08:00] Shusama opened #2125 "Swiper: Boss - Particles | 25€ Bounty"
# Boss Swiper
We have several bosses already implemented which you should feel free to use as inspiration/reference. Also you can reference some other open source custom games on Github which have boss fights including Second Day of Frostivus where you will find our IO boss (designed by Yahnich). Files should follow the structure already established in the components subfolders (such as /abilities

[2018-03-24 08:02] Shusama opened #2126 "Swiper: Boss - Sound"
# Boss Swiper
We have several bosses already implemented which you should feel free to use as inspiration/reference. Also you can reference some other open source custom games on Github which have boss fights including Second Day of Frostivus where you will find our IO boss (designed by Yahnich). Files should follow the structure already established in the components subfolders (such as /abilities

[2018-03-24 17:22] warpdragon commented on #2091
#2127

[2018-03-25 10:47] Yahnich commented on #2098
i want to do this

[2018-03-25 12:47] dedpul24 commented on #2110
Can Elixers be shared/used on other heroes besides self?

[2018-03-25 12:54] l34Um1 commented on #2110
No

[2018-03-25 13:17] imaGecko commented on #2099
gonna do this really quick

[2018-03-25 14:03] #2035 closed

[2018-03-25 14:04] #1976 closed

[2018-03-25 16:36] Newton314 commented on #2094
i would like to try this

[2018-03-25 17:22] chrisinajar commented on #2093
A few things about the implementation of this shop, you should expose an API for interacting with the shop so that other features can be added on top of this construct. Additionally, items should be able to be purchased with non-gold resources (easy with custom shop, doable with purchase filters for a modified shop) and some items should appear in the shop but not be purchasable.

If you modify th

[2018-03-25 17:31] imaGecko commented on #2094
aw i was just about to do it, damn naps :D

[2018-03-25 18:24] l34Um1 commented on #2098
Yes but can you expand the radius to 500 units while you are at it? ty

[2018-03-25 19:56] hesamironman commented on #2126
@Shusama @l34Um1 I claim this issue. Please tell me how to send it to you guys??

[2018-03-25 19:58] chrisinajar commented on #2126
Create a pull request containing all of the sounds and the `.vsndevts` file.

If you need help with the later, ask in discord.

[2018-03-25 19:59] chrisinajar commented on #2126
This ticket is basically pure data entry, the generic material-specific sounds already exist in base dota.

[2018-03-25 20:02] l34Um1 commented on #2126
Uh no, this ticket is about creating custom sound effects Chris.

[2018-03-25 20:03] hesamironman commented on #2126
look I can create them in mp3 or wav format. I have no idea abot .vsndevts files :/

[2018-03-25 20:05] hesamironman commented on #2126
@l34Um1 I already have some sounds for Electrician. Can I create a pull request and send them there?

[2018-03-25 20:06] chrisinajar commented on #2126
Indeed, dota already has swish, strike, and clang noises with every combination of materials. Additionally the data entry format supports speed, volume, and pitch shift options. One can easily finish this ticket without creating any new sound files. Custom sounds are nice-to-have, pitch shifting and playing sounds over each other are how dota does most of its non-skill sound effects, and even many

[2018-03-25 20:08] chrisinajar commented on #2126
most of the work for this ticket will be making small tweaks to the vsndevts to get the sounds to feel nice in engine. I did this process for sohei last time, it's a very iterative but quite intuitive process.

[2018-03-25 20:09] hesamironman commented on #2126
@chrisinajar OK. So I just create a pull request and send all wav format sound effects there. I already have some sounds for Electrician.

[2018-03-25 20:10] chrisinajar commented on #2126
Yes, create a pull request containing all of the files in the right spots and also the vsndevts file to describe them all. The sounds wont play without the vsndevts file. I *highly* recommend looking at sohei for an example.

[2018-03-25 20:14] hesamironman commented on #2126
@chrisinajar I'm a musician and I just joined github like 2 days ago to help you guys with sound "issues"> To be honest Chris, I have no idea about vsndevts files!

[2018-03-25 20:26] chrisinajar commented on #2126
You need to get onto discord and also be able to run the game locally in tools mode, otherwise you have no way of knowing how it sounds in-engine.

https://github.com/OpenAngelArena/oaa/blob/master/docs/setup/install.md

[2018-03-25 20:28] hesamironman commented on #2126
@chrisinajar Alright I'll check it out. Thanks

[2018-03-25 21:02] Yahnich commented on #2098
#2129

[2018-03-26 01:08] fcalife commented on #2110
I'd like to claim this one to work on.

[2018-03-26 07:06] Newton314 commented on #2094
what should happen with the euls for allies? still build from euls 1 and adjust the tiers? or are there other plans?

[2018-03-26 08:31] l34Um1 commented on #2094
That would be Euls 3.

[2018-03-26 23:09] #1864 closed

[2018-03-26 23:09] #1948 closed

[2018-03-26 23:21] Frebra commented on #2109
I claim this issue

[2018-03-26 23:43] #2099 closed

[2018-03-27 15:56] AnArnaut commented on #2118
I'll take this one.

[2018-03-27 15:57] AnArnaut commented on #2114
I'll take this one.

[2018-03-27 15:57] AnArnaut commented on #2106
I'll take this one.

[2018-03-27 15:58] Herakmon commented on #2086
can I claim this?

[2018-03-27 16:00] AnArnaut commented on #2088
I'll take this one.

[2018-03-27 16:01] l34Um1 commented on #2086
Absolutely. Just make sure you read the guidelines.

[2018-03-27 17:44] #2050 closed

[2018-03-27 17:44] #2065 closed

[2018-03-27 18:09] #1840 closed

[2018-03-27 20:24] Nortlen commented on #1578
Should it increase bonus damage as well?

[2018-03-27 20:49] emperorgustaviiadolf commented on #2095
I claim this bounty

[2018-03-27 22:37] Frebra commented on #2109
https://soundcloud.com/frej-brandt-serrander/azazel-progress-1/s-l2LAH
https://docs.google.com/document/d/1vRWFxG2EE_YJk65e_s_KFzJi4ZKW1I0Ko_lWEOf6mpo/edit?usp=sharing

Current Progress.

[2018-03-28 03:03] srxzr commented on #2096
I will do it 👍

[2018-03-28 10:54] Frebra opened #2141 "Sohei Responses."
first time I've ever made an Issue before.
here is the super secret document I have been working on prior to knowing anything about Github.

https://docs.google.com/document/d/12ZN5KC58W4JA0QP_e2qo6zURx7YqK6gTLxifO51fTPw/edit?usp=sharing

[2018-03-28 10:58] Frebra opened #2142 "Electrician Responses"
this is the Document I've been working on so far, similar to the Sohei one. ladies, feel free to audition to for this role, Im sure somebody will have to right voice out there.

https://docs.google.com/document/d/15yqqIMU6O_ICVUG1ttT789t-W7ImN1w0R5GHpgwOwnI/edit?usp=sharing

[2018-03-28 11:14] Nortlen commented on #1581
When you lose hp/mana does it drain your mana pool first or how is it supposed to work?

[2018-03-28 11:17] l34Um1 commented on #1581
You don't have a mana pool anymore. Pretty sure this is clear in the description.

[2018-03-28 11:35] Nortlen commented on #1581
So we display it as having 0 mana and it adds the amout of mana to your hp, but how much mana will you have after you turn it off?

[2018-03-28 12:27] l34Um1 commented on #1581
That's a good question and something I should have made clear in the issue.

As you merge it should save the current % of maximum Mana/HP you currently have. When you unmerge it will take those % values and redistribute them but also considering the % of merged HP compared to when you originally merged.

Example:
You have 100 HP and 100 Mana max.
You are 50 HP and 25 Mana. So 50% HP and 25% Mana.

[2018-03-28 18:38] deadshoes commented on #1549
hello completely new to this, looked through the kv tutorials today and made an attempt at creating this item. I dont really know how to use the dota client to test this though.
[item_sonic_1.txt](https://github.com/OpenAngelArena/oaa/files/1857236/item_sonic_1.txt)

[2018-03-28 18:41] Haganeko commented on #1549
You need to look at the install instructions for how to test things. Also, the KV by itself will do nothing. You'll need a lua code as well.

[2018-03-28 18:45] deadshoes commented on #1549
my bad i thought i could avoid lua by making it a data driven item

[2018-03-28 18:49] Haganeko commented on #1549
You can, but I thought the toggle with a cooldown would be impossible to make datadriven.

[2018-03-28 20:35] M-Faraday commented on #2100
Can capture point be announced 90 seconds before a duel but then they will take place 30 second  before the actual dual?

[2018-03-28 20:39] Haganeko commented on #2100
No. Doing that means the fight over the capture points will be interrupted by the duel.

[2018-03-28 20:41] M-Faraday commented on #2100
So a capture point cant start 90 seconds before a duel. Should I also add a timer encase of a stale mate?

[2018-03-28 20:51] Haganeko commented on #2100
A... Stalemate? If the capture point would be triggered and there's <90s to a duel or it's currently a duel, defer it and trigger it 15s after the duel. You'll likely want a custom announcement for that.

[2018-03-28 20:52] Haganeko commented on #2100
BTW @L34UM1 may want to increase the timer on that to 30s

[2018-03-28 20:52] M-Faraday commented on #2100
A stalemate as in it take to long and nobody wins so that it wont interfere with other events such as duels

[2018-03-28 20:56] l34Um1 commented on #2100
15s until announcement seems fine to me, that means there is still a full minute before the point appears.

[2018-03-28 20:57] l34Um1 commented on #2100
Don't worry about adding an extra timer for a stalemate, we need to see this in action first.

[2018-03-28 21:16] Yahnich commented on #1549
don't use datadriven

[2018-03-28 23:53] fordyford1 commented on #2094
Just an idea for uses of excess cores in the future, in these integrated FIles you could use a core to swap between items of a level in the tree. Either any core works or it has to be the same level as the switched items.

[2018-03-29 16:35] fcalife commented on #2110
I have been slow due to setting up the project locally for the first time, but should have this ready in the next 24h. Sorry for the delay.

[2018-03-29 22:03] l34Um1 opened #2145 "Bounty Reddit Post"
this is super wip, just ignore it

##

Thanks to the generous donations of our community, Open Angel Arena now has a development budget. We have decided to put this budget back into the community through putting bounties on our GitHub issues.

### We currently have over 2500€ in bounties up, with more to come!

This is not spec work.

[2018-03-29 22:04] zelding opened #2146 "Riki ult is broken since 7.12"
His ult attacks with virtually no cd, killing anything and everyone - including high level bosses

[2018-03-29 23:05] srxzr commented on #2103
claimed

[2018-03-30 03:02] genious97 commented on #1549
Is anyone currently working on this issue, because if not I would be interested?

[2018-03-30 03:49] Dolpen-01 commented on #2108
ill claim this one

[2018-03-30 12:22] M-Faraday commented on #2100
If the capture points are only different in colour to the boss capture points is that fine? I want to avoid capture points on ledges, is it ok if I make a list of like 50 different capture points to randomly choose from? Should the minimap ping be a full on ping with sound and everything or just an icon like bosses?

[2018-03-30 12:29] l34Um1 commented on #2100
Yes. Yes, but please make sure that we can modify it in the future. Full ping with sound.

[2018-03-30 12:29] Haganeko commented on #2100
They should probably be listed in mirror pairs so as to never select two near each other

[2018-03-30 14:39] M-Faraday commented on #2100
Should the be able to spawn in boss areas?

[2018-03-30 14:42] l34Um1 commented on #2100
No. Sorry, that should have been in the ticket.

[2018-03-30 15:38] M-Faraday commented on #2100
I have created a lot of points but very often if they get mirrored on the dire side the is trees in the way because the map isn't completely symmetrical. The zones in the corners clips the offside penalty and there isn't really a place to putt them so that they don't clip it. Is this fine for now?

[2018-03-30 15:47] warpdragon commented on #2091
Some WIP pix:

![icons](https://user-images.githubusercontent.com/13878439/38143753-fb41528e-340f-11e8-81e2-397547ecffd0.png)

![portrait](https://user-images.githubusercontent.com/13878439/38143763-04c16722-3410-11e8-93ff-c2444226bd02.png)

![model](https://user-images.githubusercontent.com/13878439/38143771-0a22fa1e-3410-11e8-847b-ae4c868c0ed3.png)

![in engine](https://user-images.githubusercon

[2018-03-30 16:03] Haganeko commented on #2100
The mirroring needn't be exact. The point is merely that a team never be near both at once. But I'll let Baumi be the judge of that.

[2018-03-30 16:03] Haganeko commented on #2100
The mirroring needn't be exact. The point is merely that a team never be near both at once. But I'll let Baumi be the judge of that.

[2018-03-30 16:04] l34Um1 commented on #2100
Doesn't have to be exact. If you are manually putting the spot, then chose reasonable ones.

[2018-03-30 16:51] TideSofDarK commented on #2116
claimed

[2018-03-30 19:30] l34Um1 commented on #2146
Fixed, patch going live soon.

[2018-03-30 19:30] #2146 closed

[2018-03-30 22:31] jboxGIT commented on #2112
ill claim this issue

[2018-03-30 22:39] M-Faraday commented on #2100
Two pings cant happen at the same time (volvo). Should I let the ping happen in quick succession and them draw the spots on the minimap?

[2018-03-30 22:41] l34Um1 commented on #2100
What do you mean with draw the spot?

[2018-03-30 22:42] M-Faraday commented on #2100
How spawned camps are indicated

[2018-03-30 23:03] l34Um1 commented on #2100
Yes, sounds good.

[2018-03-31 00:19] RealReflex commented on #2107
I claim this issue

[2018-03-31 00:33] carlosrpg commented on #2069
I Claim this

[2018-03-31 00:33] carlosrpg commented on #2070
I Claim this

[2018-03-31 00:33] carlosrpg commented on #2068
I Claim this

[2018-03-31 03:21] ZzZombo commented on #2120
I'll look into this.

[2018-03-31 04:01] damiangweber commented on #2123
claimed

[2018-04-01 04:45] jboxGIT commented on #2112
are these bosses supposed to be able to be infinitely scaled or just have 3 levels?

[2018-04-01 05:11] jboxGIT commented on #2112
oh is the 3 phases the 3 levels of the ability?

[2018-04-01 07:19] l34Um1 commented on #2112
Yes, the three phases are the three levels of the ability. You can change the KVs but make sure you include everything important.

[2018-04-01 07:42] TideSofDarK commented on #2116
Spidershot ability done
https://streamable.com/wx8y3
Banelings and their AI is imported from your frostivus2017 game

[2018-04-01 08:37] l34Um1 commented on #2116
Nice. Yeah AI should just be imported. Can you make the shots go higher into the air and have a longer travel time? There also should be an indication where they land.

[2018-04-01 08:42] TideSofDarK commented on #2116
@l34Um1 there is indicator, sorry for it being hard to notice on the vid (its obsward above clinkz name)
https://i.imgur.com/o23ldZP.png
yeah i will make the height and travel speed adjustable in ability kv

[2018-04-01 08:44] l34Um1 commented on #2116
Nice!

[2018-04-01 10:28] l34Um1 commented on #2120
What do you mean?

[2018-04-01 10:29] l34Um1 commented on #2110
Have you made any progress? Anything you can show?

[2018-04-01 11:28] TideSofDarK commented on #2116
@l34Um1 should phase 1 projectiles be fired at once?

[2018-04-01 11:35] l34Um1 commented on #2098
Reopening because some things need to be changed:

* W needs a proper tooltip with numbers diplayed
* W currently doesn't apply status resistance
* W needs the healing number displayed when its healing triggers

[2018-04-01 11:35] l34Um1 commented on #2116
Yes.

[2018-04-01 11:46] Yahnich commented on #2098
well i've tried both status resistance modifier properties; if it's not working that means they're borked and there's no way to properly do status resistance

what tooltip do you mean, the buff?

[2018-04-01 12:08] TideSofDarK commented on #2116
@l34Um1 okay, so you want him to use cannonshot to stack up heroes. should this calculation be made only for one of the projectiles while the other one be targeted say 100 units from calculated target point? or should both targets be calculated?
if its second variant, can you provide quick example?

[2018-04-01 16:58] TideSofDarK commented on #2116
@l34Um1 still i'm a bit confused. some part say it wants to deal as much damage as possible and some say it needs to push heroes together, i just dont get what should be prioritized
thats what i have https://streamable.com/jojn1 (its phase 1, enabled cannonshot only)
can you check this and tell me if it's ok or maybe you have some suggestions

[2018-04-01 17:26] l34Um1 commented on #2116
So Cannonshot tries to clump the enemies together. It doesn't prioritize hitting as many enemies as possible. Spidershot however tries to hit as many enemies as possible.

The idea is that Cannonshot pushes them together and Spidershot does the damage when they are together.

[2018-04-01 18:38] Frebra commented on #2109
https://docs.google.com/document/d/1vRWFxG2EE_YJk65e_s_KFzJi4ZKW1I0Ko_lWEOf6mpo/edit?usp=sharing

*Update* wrote out a decent  list of tier one responses for all the consumables. will probably add more as I go along.

[2018-04-02 02:09] ZzZombo commented on #2120
I retract my claim, I haven't been able to familiarize myself with the code in the meantime enough, due to an unexpected turn of events IRL. Maybe some time later I'll try again.

[2018-04-02 02:26] warpdragon commented on #2120
No problem

[2018-04-02 08:59] fcalife commented on #2110
Made a PR which should cover everything, tell me if I missed any of it.

[2018-04-02 09:01] fcalife commented on #2111
I'd like to claim this one.

[2018-04-02 09:59] TideSofDarK commented on #2116
okay please review my work

[2018-04-02 10:05] TideSofDarK commented on #2123
Claimed

[2018-04-02 13:07] ZLOY5 commented on #2093
Hi!
I think I can done this, but first I want figure out what you expect to see in the end. You need fully new system with custom shop triggers, shop-entity and etc. or  just redesigned UI for current dota shops?

Can you give examples of needed API?

[2018-04-02 19:33] l34Um1 commented on #2108
Do you have any progress you can show?

[2018-04-02 21:09] M-Faraday commented on #2100
Should I notify you when I'm done or is just making a pull request enough?

[2018-04-02 21:13] l34Um1 commented on #2100
It's all good, give us a bit to test and make sure it's all working.

[2018-04-02 21:14] M-Faraday commented on #2100
No problem just wanted to make sure you guys now it is actually complete

[2018-04-03 11:15] TideSofDarK commented on #2123
Is delay supposed to be cast animation time?
If you are going to have custom models i suppose animations should be that delay.

[2018-04-03 11:46] jboxGIT commented on #2112
Here is some progress. It is very unfinished LOL.
https://streamable.com/6x1aw

[2018-04-03 11:55] l34Um1 commented on #2123
So all of this guys attacks have a wind-up time. The delay described here is that wind-up. It's supposed to indicate to the players what attack is going to come out and where it's going, giving them time to react. You should not be able to interrupt his attacks, not during this delay or at another point, because he doesn't regularly auto-attack.

[2018-04-03 12:03] TideSofDarK commented on #2123
It's still unclear if that windup time is animation or something else like he stands still and there is some particle or whatever.

[2018-04-03 12:04] TideSofDarK commented on #2123
Im just curious if this delay is "AbilityCastPoint" which is animation time before ability impact

[2018-04-03 12:18] l34Um1 commented on #2123
Yes, essentially. It's just important that it can't be interrupted, like a normal cast point.

[2018-04-03 14:36] TideSofDarK commented on #2123
https://streamable.com/a8htb
Look, here i press frontswipe and backswipe manually but i wonder if animation speed is right.
The issue states that backswipe should be immediate so i made it as fast as animation allows me to.
Red dots indicates the 180 arc (damage area)

[2018-04-03 21:51] l34Um1 commented on #2123
Animation speed seems good. You misunderstood backswipe. Frontswipe is basically a swing going from right to left, backswipe then connects to that afterwards and after a short delay goes from left to right, without resetting the sword he is supposed to have back to the starting position. Check out the Model/Animation ticket, it has some pictures.

[2018-04-03 22:55] TideSofDarK commented on #2123
so basically a mirrored version of frontswipe

[2018-04-06 11:43] l34Um1 opened #2160 "New Mirana level 25 Talent | 5€ Bounty"
"Global Range Sacred Arrow".

As the name implies the arrow now has global range. This does not increase the damage or stun duration of the arrow. It simply makes the arrow not have a maximum travel distance and gives it global cast range.

This talent replaces "-80 Moonlight Shadow Cooldown".

[2018-04-06 11:48] l34Um1 opened #2161 "Level Cap at 50"
- [ ] Add a level cap at 50
- [ ] Remove the diminishing stats past level 25

[2018-04-06 12:04] l34Um1 opened #2162 "Stop Charger towers from spawning on stairs"
Sometimes Chargers towers spawn on the stairs leading into his arena, blocking the path in. This is especially bad in the two center boss arenas.  I'm unsure what the best way to stop this from happening is, maybe just reducing the possible spawn AOE is good enough.

[2018-04-06 12:15] l34Um1 opened #2163 "Fix Bounty rune timing | 5€ Bounty"
Bounty runes currently don't spawn every other minute on the X:00 mark. Instead they spawn at a random timing based on how long the picking took. This is due to the way our custom pick screen works, the game is already running, we just manually reset the clock.

Fix the timing on the bounty rune spawns so they always spawn every other minute at x:00, starting at 0:00. So at 2:00, 4:00, 6:00, 8:00,

[2018-04-06 12:41] l34Um1 opened #2164 "Rework TPs"
- [ ] Add a button for TPing. This button is the same as our current buttons for Scan and Wards. It's placed close to the other 2.  When activated, this button acts exactly the same as a TP scroll. It displays its cooldown just as Scan and Wards do. This button uses the hotkey for "saved camera position 10" and replaces its functionality

- [ ] Remove TP scrolls from the shop.

- [ ] TP Boots now

[2018-04-06 12:46] l34Um1 opened #2165 "Add a Duel Timer, Kill Score Limit and capture point timing indicator | 20€ Bounty"
![unbenannt-1](https://user-images.githubusercontent.com/24982519/35267044-50285c80-0025-11e8-8179-d96915598fc1.jpg)

Picture taken from Black Star. Similar to this. The menu below the clock shows up when you hold alt. Add the text "Score limit" and "Next Duel" in front of the 2 numbers, as well as a third value "next capture point" and the corresponding timer.

[2018-04-06 19:12] jboxGIT commented on #2112
a little more
https://streamable.com/ci95q

[2018-04-06 19:15] l34Um1 commented on #2112
Nice, although the visual effect needs to be a bit tighter. Currently it overflows super hard and it's difficult to tell where exactly the AOE is. It should be visually the same AOE as gameplay wise.

[2018-04-06 19:49] jboxGIT commented on #2112
Yea im doing particles later. I just looked for a circular one and an explody one.

[2018-04-06 19:55] jboxGIT commented on #2115
i will claim this one as well.

[2018-04-07 13:39] l34Um1 commented on #2085
Yahnich unclaimed it since he doesn't have time to work on it.

[2018-04-07 13:39] l34Um1 commented on #2087
Yahnich unclaimed it since he doesn't have time to work on it.

[2018-04-07 13:40] l34Um1 commented on #2083
Yahnich unclaimed it since he doesn't have time to work on it.

[2018-04-07 13:40] l34Um1 commented on #2080
Yahnich unclaimed it since he doesn't have time to work on it.

[2018-04-07 14:17] TideSofDarK commented on #2080
Claimed.

[2018-04-08 17:01] Frebra commented on #2109
added some tier 2 responses.

[2018-04-08 17:28] Trufllehunt commented on #2124
Ill Claim this

[2018-04-09 08:15] fcalife commented on #2111
Implementing this, progress can be tracked on PR #2156.

Missing values used:
 - 300 MS for Farmer;
 - 1.0 turn rate for all summons.

Would you guys prefer the items to show all their levels' values, or only the current level?

e.g. for the level 2 tank summon, should it say "Tank Health: 10000/**20000**/30000/40000", or just "Tank Health: 20000"?

[2018-04-09 08:43] l34Um1 commented on #2111
All values. 300 MS seems fine, sorry for leaving that out.

[2018-04-10 02:04] TideSofDarK commented on #2080
https://streamable.com/f0cmo
Here is **Headbutt**
Let me know if damage area should look different.
Current range/width are adjustable through KV

[2018-04-10 02:06] warpdragon commented on #2092
CLAIMED

[2018-04-10 02:29] warpdragon commented on #2092
![concept](https://user-images.githubusercontent.com/13878439/38533044-6ee0a3b0-3c45-11e8-8356-cc00bb6a2d85.png)

[2018-04-10 07:08] l34Um1 commented on #2080
That's pretty much exactly on point.

[2018-04-10 22:55] TideSofDarK commented on #2080
11 premade crystal points
Also it wasn't clear if they should rotate along with hero
https://streamable.com/y9ku3

[2018-04-11 07:38] l34Um1 commented on #2080
Yes they should, they are supposed to be attached to its body.

[2018-04-11 20:05] warpdragon opened #2168 "Update the Boilerplate Repo"
We should update the [Boilerplate](https://github.com/OpenAngelArena/custom_game_boilerplate) to include the new utilities, libraries, and loading screen layouts/scripts we've done since the repo was last updated in September 2017.

[2018-04-12 11:05] TearsOfMIllennials commented on #2118
I claim this issue

[2018-04-14 01:58] jboxGIT commented on #2112
since i claimed the particles one too I worked on that some. finished the indicator at least. scales OK with delay and aoe KV's .

https://streamable.com/p1cbc

[2018-04-15 06:00] Herakmon commented on #2087
I claim this.

[2018-04-15 21:47] carlosrpg commented on #2070
I unclaim due to lack of time

[2018-04-15 21:47] carlosrpg commented on #2069
I unclaim due to lack of time

[2018-04-15 21:48] carlosrpg commented on #2068
I unclaim due to lack of time

[2018-04-16 17:41] M-Faraday commented on #2100
I noticed the pull request got closed is there anymore work that needs to be done?

[2018-04-16 17:54] ZLOY5 commented on #2093
Sorry me for long absense.
You can see progress in my fork or this low-resolution screenshot.

And can anyone give me item list by tiers?

![shot_0357](https://user-images.githubusercontent.com/10956575/38826159-b06cdaa2-41b7-11e8-8bae-ae622f73ea8d.jpg)

[2018-04-16 18:04] l34Um1 commented on #2093
\oaa\game\scripts\npc\items

is probably the best you'll find. Every item is in there with a KV file for each tier.

[2018-04-16 18:04] #2161 closed

[2018-04-16 18:06] M-Faraday commented on #2100
I'll try to fix it as soon as possible but my university break has ended and my time is a bit divided can take up to a week.

[2018-04-17 09:43] fcalife commented on #2111
Finished this issue with PR #2156. Included some tooltips and placeholder icons.

[2018-04-17 09:52] fcalife commented on #2105
Claiming this one.

[2018-04-17 10:07] TideSofDarK commented on #2085
claimed

[2018-04-18 05:45] fcalife commented on #2095
If this is open for re-claiming, I'd like to do so (based on inactivity time).

[2018-04-18 12:48] emperorgustaviiadolf commented on #2095
I haven't been inactive, just haven't made a pull request in a couple days due to work + testing.

[2018-04-18 13:38] Trildar commented on #2095
Well, you didn't give any response to the comment I left on your PR over a week ago. I can't even review anything there unless I do it by looking at the commit history since the branch actually doesn't have anything in its current state.

[2018-04-18 19:30] fcalife commented on #2095
My bad, I didn't see the PR. Do use a reference to the issue you're fixing in the future to make that easier! :D

@Trildar his latest PR (there are two) has the code in it.

[2018-04-19 02:09] emperorgustaviiadolf commented on #2095
I'm really sorry! I'm new to working in this kind of format, so I'm still learning. I will make a pull request with what I have tonight so it can be seen, and please inform me if I do anything wrong in the future!

[2018-04-19 03:09] Trildar commented on #2095
It's okay. Was just pointing it out. Didn't even realise there was a different PR. You should close the other one.

[2018-04-19 10:24] l34Um1 commented on #2098
Implemented and paid out.

[2018-04-19 10:24] #2098 closed

[2018-04-19 18:56] TideSofDarK commented on #2085
how shake projectiles should work?
im thinking if its either starfall style stuff or something else

[2018-04-19 20:17] fcalife commented on #2120
Does this require building ghosts?

[2018-04-19 20:18] l34Um1 commented on #2120
Yes

[2018-04-19 20:31] M-i-k-e-l commented on #2068
I claim this

[2018-04-19 22:07] TideSofDarK commented on #2085
https://streamable.com/mzu4t shake, slam and then jump
let me know if some of these should work differently

[2018-04-21 18:43] Toyoka commented on #2125
Claimed.

[2018-04-22 09:09] l34Um1 commented on #2125
sick

[2018-04-22 18:26] Toyoka commented on #2125
Updated Backswipe/Frontswipe so that orientation of the system is done separately in CP1, in relation to CP0. CP1 determines position of the target of the attack, rotating the effect located at CP0 so that the arc faces the target properly. See first webm in previous post for an example.

[2018-04-25 03:06] carlosrpg commented on #2112
@jboxGIT any progress?

[2018-04-25 03:07] carlosrpg commented on #2103
@srxzr any progress?

[2018-04-25 15:28] jboxGIT commented on #2112
@carlosrpg yea sorry ill post video later today. actual ability should be done by the weekend then i just have to do the AI bit.

[2018-04-25 21:57] #2162 closed

[2018-04-26 03:11] jboxGIT commented on #2112
https://streamable.com/0pbvx

is damage/heal from different magma pools supposed to stack or not?

[2018-04-26 09:54] ZzZombo commented on #2120
I'm working on this.

[2018-04-26 21:14] TideSofDarK commented on #2080
Merged/Paid

[2018-04-26 21:14] TideSofDarK commented on #2123
Merged/Paid

[2018-04-26 21:15] TideSofDarK commented on #2116
Merged/Paid

[2018-04-27 12:59] ZzZombo commented on #2120
Should the model of buildings be affected by the team?

[2018-04-27 13:43] l34Um1 commented on #2120
would be neat although not required

[2018-04-28 16:10] ZzZombo commented on #2120
Here is a screenshot (building, defense tower in construction phase): https://www.dropbox.com/s/lw5nmp30f9sktg3/shot_0002.tga?dl=0. I have some questions though:

- I couldn't find any tower models for the Watch tower as you described in the Asset Browser. Do you happen to know the names?
- What are the construction times for the buildings?
- Am I not supposed to create the item definitions? If th

[2018-04-29 11:27] ZzZombo commented on #2120
I'm about 90% done with this (see https://www.dropbox.com/s/tu7c9keomc5wx3d/shot_0198.jpg?dl=0 and https://www.dropbox.com/s/2mhv7g7ds595l67/shot_0199.jpg?dl=0), but there are some more questions:

- What to do, if a unit occupies a building's location? Especially relevant for the Wall segments.
- Am I supposed also to make the default translations?

[2018-04-29 17:17] l34Um1 commented on #2120
Answering your questions:
- shouldn't there lots of different tower models because of last year's ti compendium? Just use the one of those that fits the description the best
- 10s construction time but make sure to put it into of
- just put whatever and make sure to put it into kv. I'll balance it later
- as you have it seems good
- push them out
- I'm not sure what you mean. You should put toolti

[2018-04-30 00:55] ZzZombo commented on #2120
@l34Um1:

I am apparently unable to find any. I tried different keywords with the "models only" filter in the Asset browser, but nothing other than the default structure models comes up.

[2018-05-03 15:35] zelding commented on #1549
in progress at #2172

[2018-05-03 18:26] Frebra commented on #2109
added some more lines

[2018-05-04 20:51] l34Um1 commented on #2094
Please remove the first levels of the items from the shop as well. Currently Hex 1 can be bought and so can the other items. They should only be available at their new level. Then I'll need your paypal so I can pay you.

[2018-05-07 07:12] Trildar opened #2191 "Re-implement Drums of Endurance"
Vanilla Drums seem to not appreciate being told to not use charges. There have been numerous reports of it causing lag and the active only working the first time. Easiest solution is probably just to re-implement the item since it should be a fairly simple item.

[2018-05-07 08:25] Sythrus commented on #2191
Doesn't Imba already have drums without charges?

[2018-05-07 11:35] Trildar commented on #2191
Dunno, if it does, we can probably just ask them if we can ~~steal~~ use their code. Though there aren't really many active OAA developers to even do that right now.

[2018-05-07 14:04] warpdragon opened #2192 "Control Zones"
Test and fix zone/skip/clip enforcement against movement abuse.
Players should not be able to:
- Enter non-game-space (non-game space is loosely defined as any non-play area, the areas between zones and between the zones and the map, as well as outside the map, as well as any glitched area.
- Enter arenas from the outside.
- Exit arenas until the game exits them at the end of a duel.
- Use movemen

[2018-05-09 02:03] fcalife commented on #2093
I'd like to know if this is still claimed or has opened up. I'd like to at least give it a shot if so.

[2018-05-09 10:56] l34Um1 commented on #2093
So I tried to test this but I'm just getting parsing errors and when I'm ingame there is no shop at all. Can you post some screenshots or even better a video of the progress you have made?

[2018-05-09 11:04] ZLOY5 commented on #2093
Can you give me a log with errors?
I`ll try to make video

[2018-05-09 12:46] ZLOY5 commented on #2093
https://streamable.com/ey8kh

[2018-05-09 13:02] l34Um1 commented on #2093
Looks good. Although can you make the switching between pages not a dropdown menu but instead multiple buttons at the top?

[2018-05-09 13:57] carlosrpg commented on #2093
Adding a few user test scenarios:
 - Show in Shop should open shop on the correct tab.
 - consider that you have money to buy all ingredients for a lvl 2 and lvl 3 item, and you have a tier 3 and tier 4 cores. you should be able to buy it by right click the item on the shop directly.

[2018-05-09 16:44] fcalife commented on #2093
Just want to say congratulations, looks on the way to a job well done!

[2018-05-09 21:07] DoctorGester commented on #2093
Looks very cool, I'm glad someone took on it. Just be sure to fix your code style (indentation etc). Also imo this code is asking for unit tests because it is a huge codebase.

[2018-05-10 08:20] l34Um1 commented on #2093
Here are the 3 errors I get when loading up your branch. I don't see any shop when loaded in.
![error 1](https://user-images.githubusercontent.com/24982519/39859923-c33564ce-543b-11e8-8f73-83c537c4c4fd.PNG)
![error 2](https://user-images.githubusercontent.com/24982519/39859924-c355a036-543b-11e8-834b-9a26549ae873.PNG)
![error 3](https://user-images.githubusercontent.com/24982519/39859926-c3704d32-

[2018-05-10 08:25] DoctorGester commented on #2093
@l34Um1 interestingly enough first two errors are in dota's own styles and in fact my friend has at least the error on the first screenshot in his own project.

[2018-05-10 14:04] ZLOY5 commented on #2093
@l34Um1 fixed I think
P.S.: recompile oaa_test.vmap if you want buy items not only to stash

[2018-05-10 20:06] l34Um1 commented on #2093
Yeah I can see the shop now. Good work so far but still a bit to go.

[2018-05-10 23:02] chrisinajar commented on #2192
What's broken? I can tackle this.

[2018-05-11 09:01] l34Um1 commented on #2192
I'm searching for locations where you can blink out of the map. I'll post all I can find.

![error 1](https://user-images.githubusercontent.com/24982519/39916009-b23bbfaa-5509-11e8-9610-dc8f53bb91f3.PNG)

Teleports you into the top right duel arena. You can't move once you are in but you can TP out.

![error 1](https://user-images.githubusercontent.com/24982519/39916054-ce6252e8-5509-11e8-9f66-cb5

[2018-05-11 20:10] darklordabc commented on #2093
Looking good!

[2018-05-11 22:37] zelding opened #2195 "There are 2 different Euls in the game"
Both the vanilla and the OAA Euls are available in the shop somehow.

I can't remember how I bought them, but i have [pics](https://imgur.com/a/bE6iau3)

They **don't** share cd.

[2018-05-26 05:46] WispY opened #2211 "Fervor values for troll"
[code]
This does not look right, should it really decrease at lvl 5/6?

[2018-05-26 05:53] Trildar commented on #2211
Yes. If you check the attack speed per stack and do the math, you'll see you get around the same increase in attack speed at max stacks. The rationale was to buff it by making you hit max faster rather than increasing the max amount.

[2018-05-26 05:53] #2211 closed

[2018-05-28 01:53] Anyangas commented on #2104
I claim this issue, I'll keep posting progress via discord if it's ok.

[2018-05-29 13:46] ZzZombo commented on #2120
Paid, thanks.

[2018-05-30 11:08] l34Um1 commented on #2103
Seeing as no progress has been made in over a month, this topic will be marked as unclaimed.

[2018-05-30 13:57] ZzZombo commented on #2103
Claimed.

[2018-06-03 01:59] LostWalker opened #2219 "Can't ping time + Holding option to see time till day/night"
Pretty basic bug. You can't ping time. When you try it treats it as if you're just clicking the ground. Another thing is holding option so see how long before day/night. Doesn't matter that much but useful to be able to do this quickly on NS as well as a quality of life thing

[2018-06-03 02:28] DarthRecca commented on #2191
I'm on it. Will try to report by tomorrow. Also won't be using branch/forks so how do I submit the code?

[2018-06-03 02:29] Haganeko commented on #2191
If you don't use git, someone will have to use it for you.

[2018-06-04 18:20] Kilamanjarus commented on #2081
Mind if I claim this one? Or is it no longer available?

[2018-06-04 20:05] l34Um1 commented on #2081
Go right ahead.

[2018-06-06 18:56] Haganeko commented on #2195
Isn't one of them Eul's Scepter of Sanctity (a different item)?

[2018-06-07 12:20] #2116 closed

[2018-06-07 12:23] #2111 closed

[2018-06-07 16:07] mikibun commented on #1270
Is this still being worked on? @warpdragon

[2018-06-07 16:17] mikibun commented on #1520
Is this still being worked on? @chrisinajar @warpdragon @Chronophylos

[2018-06-07 16:27] mikibun commented on #1547
Is this still being worked on? @bell1020 @Haganeko

[2018-06-07 16:30] mikibun commented on #1549
@zelding Is this still being worked on?

[2018-06-07 16:37] Haganeko commented on #1547
Not to my knowledge. So far as I know, this is waiting for someone to take over implementation.

[2018-06-07 21:40] chrisinajar opened #2224 "Allow spectators to see capture points in fog of war | 5€ Bounty"
Currently if players leave a capture point uncapped and lose vision of it, spectators also cannot see them. This is a problem because then casters can't tell if a point was captured or left behind after a fight (this has come up multiple times in casted games)

[2018-06-07 21:42] chrisinajar commented on #2192
I'm taking responsibility for zone control, however if anyone else wants to tackle it please be my guest :)

[2018-06-08 02:29] warpdragon commented on #1270
Lets keep this one

[2018-06-08 09:10] #1376 closed

[2018-06-08 09:10] #1443 closed

[2018-06-08 09:17] mikibun commented on #1562
Is this still being worked on, or has it been solved?

[2018-06-08 09:36] mikibun commented on #1578
Has this been finished?

[2018-06-08 11:54] warpdragon commented on #1578
No. Jay was hoping to learn to code in lua but this item was never finished. It was a very ambitious first project.

[2018-06-08 11:57] warpdragon commented on #1562
Um u can close this. Its old af. We decided to move in a different direction.

[2018-06-08 17:50] Yahnich commented on #2069
gottem

[2018-06-08 17:52] Yahnich commented on #2070
Gottem II: The Bounty Strikes Back

[2018-06-09 03:51] jboxGIT commented on #2112
i am pretty much done with this except for like tooltips/sounds and maybe a couple particles. does this need to pass travis before anyone even looks at it?

ai is rudimentary but appears to work okay.

[2018-06-09 04:55] jboxGIT commented on #2112
here is pretty much every thing

https://streamable.com/cc98y

ill post another in a second showing knockup/stun i was playing naix oops

[2018-06-09 08:16] #1562 closed

[2018-06-09 11:10] mikibun commented on #1692
Is this in/is someone working on this, or can this be closed?

[2018-06-09 11:11] mikibun commented on #1589
Is this being worked on or can this be closed?

[2018-06-09 11:11] mikibun commented on #1588
@solidmiki21 are you still working on this?

[2018-06-09 11:12] #1586 closed

[2018-06-09 11:13] mikibun commented on #1582
@warpdragon should I close this?

[2018-06-09 11:14] mikibun commented on #1583
@NerdPhoenix @Trildar Is this still being worked on?

[2018-06-09 11:15] mikibun commented on #1786
@Haganeko @l34Um1 Can this be closed?

[2018-06-09 11:15] #1787 closed

[2018-06-09 11:15] mikibun commented on #1821
@Trildar @carlosrpg can this be closed?

[2018-06-09 11:16] mikibun commented on #1831
@Haganeko @carlosrpg Has this been fixed yet?

[2018-06-09 11:16] mikibun commented on #1833
@l34Um1 has this been fixed?

[2018-06-09 11:50] mikibun commented on #1846
Has this been fixed/solved? @Haganeko @Trildar

[2018-06-09 11:50] #1900 closed

[2018-06-09 11:50] #1901 closed

[2018-06-09 11:50] #1902 closed

[2018-06-09 11:52] mikibun commented on #1946
Has this been implemented? @Haganeko @warpdragon @arrowpack

[2018-06-09 11:53] mikibun commented on #1961
Does this need to stay open?

[2018-06-09 14:27] Trildar commented on #2006
Obsoleted by #2070

[2018-06-09 14:27] #2006 closed

[2018-06-09 14:43] mikibun commented on #2009
Can this be closed or has this been fixed? @Trildar

[2018-06-09 14:44] #2068 closed

[2018-06-09 15:11] #2080 closed

[2018-06-09 15:16] mikibun commented on #2089
Electrician is in the game now, right? Can I close this? @SquawkyArctangent

[2018-06-09 15:27] hesamironman commented on #2090
@mikibun I didn't know how to make mp3 files be playable in Dota 2, so I just gave up and deleted them

[2018-06-09 15:27] mikibun commented on #2091
Can this be closed/Warpdragon be paid yet? @l34Um1

[2018-06-09 15:32] mikibun commented on #2093
Is this still being worked on? @ZLOY5

[2018-06-09 15:47] Trildar commented on #2009
No work has been done our end as far as I know. So it's still broken unless Valve happened to fix it.

[2018-06-09 16:07] mikibun commented on #2094
@Newton314 have you been paid for this yet?

[2018-06-09 16:13] mikibun commented on #2096
@srxzr Is this being worked on?

[2018-06-09 16:13] mikibun commented on #2100
@M-Faraday Any updates on this?

[2018-06-09 16:16] mikibun commented on #2103
@ZzZombo Any updates on progress? :)

[2018-06-09 16:17] Haganeko commented on #2100
This was implemented.

[2018-06-09 16:17] Haganeko commented on #2100
It's buggy tho.

[2018-06-09 16:18] Haganeko commented on #2096
I think this is done.

[2018-06-09 16:18] mikibun commented on #2100
@Haganeko So, should I leave it open or get Baumi to open a new issue for bug fixing for it and close this one?

[2018-06-09 16:18] #2096 closed

[2018-06-09 16:20] mikibun commented on #2109
@Frebra Still working on this?

[2018-06-09 16:22] mikibun commented on #2107
@RealReflex Hey, any updates on this?

[2018-06-09 16:27] mikibun commented on #2115
@jboxGIT Hey, any updates on this?

[2018-06-09 16:28] #2120 closed

[2018-06-09 16:36] #2123 closed

[2018-06-09 16:37] mikibun commented on #2124
@Trufllehunt any progress?

[2018-06-09 16:38] Haganeko commented on #1846
I don't think it has.

[2018-06-09 16:39] mikibun commented on #2126
@hesamironman has this been finished? :)

[2018-06-09 16:39] Haganeko commented on #1786
No idea what this even was. Probably something @warpdragon could answer.

[2018-06-09 16:40] Haganeko commented on #1831
I believe it hasn't. Might actually want to throw a bounty at it.

[2018-06-09 16:48] mikibun commented on #2191
Has this been submitted yet? @DarthRecca @Haganeko

[2018-06-09 16:50] jboxGIT commented on #2115
yea i was doing it while i did the code and its almost done.

[2018-06-09 16:51] hesamironman commented on #2126
@mikibun I've  finished both this and electrician, but as I said I just gave up, because I don't know about vsndevts files. If it's helpful, I can recreate them and send them but I have no idea about that particular format. I can only make in wav or mp3 :)

[2018-06-09 16:53] mikibun commented on #2126
@hesamironman I think people might be able to convert it for you, I'll ask around, so hold fire.

[2018-06-09 16:55] hesamironman commented on #2126
@mikibun Alright :)

[2018-06-09 16:59] mikibun commented on #2125
Toyoka needs to be paid @l34Um1

[2018-06-09 17:18] DarthRecca commented on #2191
@mikibun It has been submitted. But before it is closed or merged, I am going to test it out. Just need to find some free 1-2 hours time. Will be done before this week-end.

[2018-06-10 09:18] #1699 closed

[2018-06-10 09:37] mikibun commented on #1873
@warpdragon @Haganeko @solidmiki21 What can be done about this as a next step to fix this issue?

[2018-06-10 10:00] mikibun commented on #2086
@Herakmon Are you still working on this?

[2018-06-10 10:01] mikibun commented on #2087
@Herakmon Are you still working on this?

[2018-06-10 10:14] mikibun commented on #2089
Arctangent has been paid, issue closed

[2018-06-10 10:14] #2089 closed

[2018-06-10 11:06] mikibun commented on #2095
@emperorgustaviiadolf Are you still working on this?

[2018-06-10 11:10] mikibun commented on #2100
@M-Faraday Have you been paid for this yet?

[2018-06-10 12:17] mikibun commented on #2090
@hesamironman you can use a converter. i'm sure there's a program that's able to convert into the file format you need. Maybe ask Xavice how he did it.

[2018-06-10 12:29] Trildar commented on #2090
I think mp3s shouldn't be too much of an issue, though if you can learn to write up the vsndevents or whatever that extension was, it would be better. There isn't really much to it, just look at some of the existing files and it can pretty much be copypasta'd.

https://github.com/SteamDatabase/GameTracking-Dota2/tree/master/game/dota/pak01_dir/soundevents/game_sounds_heroes These decompiled vanill

[2018-06-10 12:30] Trildar commented on #2090
The preferable method would be to make a pull request on this GitHub with the files, with or without the vsnd stuff. Google Drive might be acceptable too.

[2018-06-10 12:37] hesamironman commented on #2090
@Trildar Alright so I just recreate sounds and then make a pull request

[2018-06-10 13:05] Haganeko commented on #1873
Going around pressing people to document their processes. That's more of an ongoing process, though; I don't think an issue is the best way to keep track of it.

[2018-06-10 13:05] #2091 closed

[2018-06-10 18:00] hesamironman commented on #2126
I have Swiper and Electrician sounds! Can someone help me with creating a pull request please?

[2018-06-11 08:12] zelding commented on #1699
Was this idea scrapped ? :(

[2018-06-11 08:13] zelding commented on #2195
No, check the screenshots ;)

[2018-06-11 12:32] l34Um1 opened #2226 "Tournament Season Anouncement Reddit post"
# Announcing the Open Angel Arena Tournament Season with $22000 in Prize Money!

Yo,

I'm proud and happy to announce the 2018/19 OAA Tournament Season. Due to generous donations from our community during our [second big fundraiser](https://youtu.be/F7kgiD_XBI0) we managed to raise over 21000€ to help us fund development and tournaments. Special shoutouts to DrDisrespectingTimo for his 13000€ cont

[2018-06-11 15:36] #2226 closed

[2018-06-12 11:59] l34Um1 opened #2228 "Come up with a new name for Cofveve and give it a new icon"
Old name is an outdated meme. Will take any suggestions.

[2018-06-12 12:09] l34Um1 opened #2229 "Give a point for winning a duel and for capturing a capture point"
For clarification: A point being a point on the score board. Currently only boss captures and kills give points. Capture point = the capture points that appear at 15 minutes and every 10 minutes after. Not the boss capture points, those already give a point.

[2018-06-12 12:12] Haganeko commented on #2228
I suggest "Blade of the Erelim"
Blade because it is a weapon, and the Erelim are a class of angels associated with delivering earthly justice.

[2018-06-12 12:18] l34Um1 opened #2230 "Pull Staff change"
Currently Pull Staff simply pulls the targeted unit all the way to the caster.

This should be changed so that Pull Staff now has a maximum pull distance.

Example:
Enemy is 2000 units away, our new Pull Staff has a maximum pull distance of 500 and a cast range of 1500. We use it on the enemy, our hero walks 500 units to get into pull range and then the Pull Staff activates, pulling the enemy anot

[2018-06-12 12:23] l34Um1 opened #2231 "MK Ult can bash with Abyssal Blade level 2-5. This shouldn't be possible. | 5€ Bounty"
Title. In regular Dota MK Ult doesn't work with basher anymore. In OAA this applies for level 1 basher but not the higher levels. This should be fixed to apply to all levels.

[2018-06-12 12:30] zelding commented on #2228
Bloodfreezing ? Cryo-blood ?

[2018-06-12 12:39] l34Um1 opened #2232 "Add a minimap icon for Tier 5 Bosses"
Currently there is no good way to tell if a boss is Tier 4 or Tier 5. Add a minimap icon for Tier 5 Bosses that looks different from the one for Tier 4 Bosses.

[2018-06-12 12:39] Haganeko commented on #2228
Blade of Judecca, then? The fourth and central ring of the ninth circle of hell in the Divine Comedy, where Satan sits within a frozen lake?

[2018-06-12 12:40] Haganeko commented on #2228
Could also use Cocytus, the name of the lake itself.

[2018-06-12 12:41] l34Um1 opened #2233 "Towers shouldn't always be visible on the minimap, only when in sight"
Currently, after a tower has been placed, you can always see its location on the minimap, even if you are on the enemy team.

This should be changed so that towers are treated the same on the minimap as heroes. Only visible to the enemy if they have vision on them.

[2018-06-12 12:47] l34Um1 opened #2234 "Implement proper ranked AP with bans"
Refer to here on how it works: https://dota2.gamepedia.com/Game_modes#Ranked_All_Pick

This will replace regular AP in all modes until we get casual/ranked implemented.

[2018-06-12 12:57] l34Um1 opened #2235 "Fix Arc Warden illusion having access to Azazel consumables"
Currently Arc Warden can buy a tower or summon or elixir and when using his ultimate the illusion will have it in its inventory. It can then place the tower/use the consumable, effectively ignoring the cost associated with purchasing the item.

Arc Warden already has a banlist of items that the illusion can't have in its inventory. Simply add the Azazel consumables to that list.

[2018-06-12 13:00] l34Um1 opened #2236 "Fix Tranquil Boots"
Currently they gather no charges upon movement. This is a simple bug fix.

[2018-06-12 13:02] SquawkyArctangent commented on #2235
For reference, saying that Arc Warden has a banlist is inaccurate in important ways - namely, phrasing it like that makes it sound like it'd require modifying Tempest Double, which would be an _incredible_ amount of work.

It's the exact opposite, though, in difficulty and in what's preventing the copying - this is literally a single line fix per item, somebody just needs to slap "IsTempestDoubleC

[2018-06-12 13:03] l34Um1 opened #2237 "Wrong Tower HP bug | 10€ Bounty"
Sometimes when a higher level tower is placed they only have 1000 HP instead of the much higher HP they are supposed to have.

Figure out what's causing this bug and fix it. Make sure that the Wall and Watchtower don't suffer from the same issue.

[2018-06-12 13:08] l34Um1 opened #2238 "Implement a new farming boot: Blink Boots | 15€ Bounty"
Requires:
Brown Boots + Blink Dagger + Farming Core + 100g Recipe

Active: Teleport to a target point up to 400/500/600/700 units away.

Blink Dagger cannot be used for 3 seconds after taking damage from an enemy hero.

No manacost. Cooldown 15/14/13/12s.
Movement Speed Bonus: 60/70/80/90.

[2018-06-13 05:08] BigButtsLover commented on #2228
There's a Norse mythcal sword that fits perfectly-"Dáinsleif":

Dáinsleif (Dáinn's legacy), king Högni's sword that gave wounds that never healed and could not be unsheathed without killing a man.
(Source Wikipedia)

[2018-06-13 17:01] fcalife commented on #2228
For reference, the weapon that causes wounds which never heal is a semi-common trope in ancient mythos. Some alternate versions of the Dáinsleif include the [Shamshir-e Zomorrodnegār](https://en.wikipedia.org/wiki/Shamshir-e_Zomorrodnegar), the [Gáe Bolg](https://en.wikipedia.org/wiki/G%C3%A1e_Bulg) and the [Skofnung](https://en.wikipedia.org/wiki/Skofnung). I like the last two names better for be

[2018-06-13 17:04] Haganeko commented on #2228
The issue with most of these suggestions is they escape the already frail and beaten oaa thematic of judeo christian mythology

[2018-06-13 17:06] fcalife commented on #2228
I mean, its current name is _**covfefe**_.

[2018-06-13 17:08] SquawkyArctangent commented on #2228
Would "Heartbreaker" be too on-the-nose? :v

[2018-06-13 17:11] Haganeko commented on #2228
Yes, a temporary meme name. Now we're probably settling on a permanent one.

[2018-06-13 17:13] fcalife commented on #2228
@Haganeko there's like zero (?) custom item names currently having anything to do with judeo christian mythology. Item names are usually downright descriptive like "giant form" or "far sight". The only reference to said mythology is a giant demon in the center of the map that had no function until his shop was added. I think it's somewhat safe to say sticking to this mythos is not a high priority

[2018-06-14 18:45] M-Faraday commented on #2100
No but I didn't finish it got busy at university sorry

[2018-06-15 00:50] Jacob-Koger commented on #2235
I am doing this now

[2018-06-15 00:53] GymLeaderGiovanni commented on #2235
Fuck my bad already did this sorry

[2018-06-15 00:54] Jacob-Koger commented on #2235
*thumbs up* glad i said something :P

[2018-06-15 01:00] GymLeaderGiovanni commented on #2235
Yeah sorry didn’t think anyone would claim cause there was no bounty so I just did it

[2018-06-15 01:31] Jacob-Koger commented on #2069
Claim this

[2018-06-15 02:37] Jacob-Koger commented on #2069
Psych nm

[2018-06-16 06:47] #2229 closed

[2018-06-16 06:48] #2230 closed

[2018-06-16 07:03] chrisinajar opened #2244 "Document how to test open pull requests"
Create documentation in the docs folder containing everything related to getting other people's pull requests onto your local for testing. Additionally, instruct people to use the `tACK` / `utACK` paradigm. An `ACK` is an approval of the pull request, `t` vs `ut` implies if they personally tested it or not.

An example of when `utACK` is useful would be a simple PR that just changes some KV. Teste

[2018-06-16 07:04] chrisinajar commented on #2244
the magic git commands are
[code]
once for each new remote, once added you can test any number of PR's from them with
[code]

[2018-06-16 13:31] fcalife commented on #2244
Minor gripe: some kv's don't work at all - I'd argue unless you're experienced enough to know those, testing is still necessary

[2018-06-20 00:52] carlosrpg commented on #2069
If no one is working on It I would like to claim it.
Question. I need a better definition of abbandon cause the first item says about abandon within 3 min while the second defines abandon as 5 seconds total DC time.

Also I think this requires some changes on the API for the bottle pass to calculate the MMR.
So this ticket may be blocked until these are implemented there

[2018-06-20 00:55] Haganeko commented on #2069
An abandon is when you click the "leave game" button in the DotA client. Can we not detect that?
The line about total DC time is so that if someone just DC's for too long, they are considered as having abandoned, even though they haven't actually clicked the "leave game" button.

[2018-06-20 23:44] carlosrpg commented on #2069
I Reclaim this 😄

[2018-06-21 18:30] Booty-Smasher commented on #1833
Cast break on all of the players, creeps, and bosses once the Duel begins. If a player is in the Duel then purge all buffs and debuffs for the players in it. Edit the bosses purge of they have ome which could remove the break.

[2018-06-21 18:32] Trildar commented on #1833
Break would have absolutely no effect the way things are right now. Break affects passive abilities and not items. Bosses get fast regen from a Heart in their inventory.

[2018-06-21 18:34] Booty-Smasher commented on #2238
That doesnt directly make you money, or help you kill creeps...

[2018-06-21 18:46] Booty-Smasher commented on #2228
Skaði (Skadi) is the Goddess of Winter in Norse mythology.
Skaði (Skadi) means "damage" or "harm" in Old Norse and Icelandic, pronounced "Skathi".
Þjazi (Thiazi), Skadi's father in Norse mythology, had his eyes placed in the night sky as stars.

The lore behind skadi is deep, and as such the "Covefe" should be related to skadi or the eyes, and should relate back to norse mythology. Skadi is known

[2018-06-21 18:47] Booty-Smasher commented on #2228
Healing*

[2018-06-21 19:01] chrisinajar commented on #2228
The name is okay, it'll be hard to replace. The icon is a meme, it will be trivial to replace.

[2018-06-21 19:21] Booty-Smasher commented on #1833
I meant mute, but I didnt think about that mute doesn't affect passive items like a heart or skadi

[2018-06-21 19:29] Booty-Smasher commented on #1833
Create an item that stops passive items, like an upgraded scythe of vice, and cast it on the bosses once the duel begins.

[2018-06-21 19:39] DarthRecca commented on #2228
I think If we are to stick to Judeo-christian theme, then a possible contender would be, Leraje. He is a Marquis of Hell. A demon from the Ars Goetia, who is said to incite wars and cause "Gangrene wounds" from the arrows. And Gangrene Wounds kind of matches the current description of Covfefe. The Gangrene is tissue death, and is almost impossible to heal unless decapitated/surgically removed.
But

[2018-06-21 19:58] Booty-Smasher commented on #2088
Without a picture of the boss, I dont know what type of slime it is. Like a terraria slime? Or the poison slime in konosuba? Or if hes slimey but not an actual ball of slime.

[2018-06-21 20:04] SquawkyArctangent commented on #1833
Not only is that the most indirect way of handling this issue, but it also involves _recoding every single passive item effect from scratch, as the vanilla items aren't programmed for a context where such an effect exists._

[2018-06-21 20:05] Booty-Smasher commented on #2088
I so claim this

[2018-06-21 20:05] Booty-Smasher commented on #2088
Will*

[2018-06-21 23:35] Booty-Smasher commented on #1833
It wouls be a neat item for OAA that most gamemodes don't have, which Baumi loves topping other game modes. I k ow it isn't the easiest or simplist fix, but it is still a fix which no one else seems to have any "Suggestions"

[2018-06-21 23:52] chrisinajar commented on #1833
it'd be easier to just store the HP values with the savestate the game runes during duel start/stop. that or just remove the hearts during duels. either works.

[2018-06-22 22:12] Booty-Smasher commented on #2088
https://youtu.be/qFTdYtxL9J8
https://youtu.be/6nhulRpkw0g
Sorry I will not be able to work on it, so go ahead and reopen the thread, but here are some watermelon sounds that might be good for it.

[2018-06-25 19:56] chrisinajar commented on #2165
I like not having duel timer, I disagree it should be added. I'd be fine with it appearing during the last 60 seconds, but not before then.

[2018-06-25 19:57] Haganeko commented on #2165
Why so? I thought this had been debated and all objections overruled.

[2018-06-28 06:40] zelding commented on #2238
What about this:
if you blink near creeps it deal a percentage of your attack damage around you + some nice landing/impact animation

[2018-06-30 14:44] Frebra commented on #2109
yes

[2018-07-04 15:18] DarthRecca commented on #2238
I think I can work on Blink Boots. Will need to know if you want to add any farming item potential.

[2018-07-06 17:45] DimasDSF commented on #1833
Would a modifier with `MODIFIER_PROPERTY_DISABLE_HEALING` not work with bosses?

[2018-07-07 23:46] Botinha93 opened #2264 "Game wont count boss kills after disconect and duels wont work."
If you disconnect right before a duel and reconnect after it finds that there are no players left for the duel the game wont count boss kills for any of the teams, duels also wont get triggered till one of the teams gets 100 kills, them the final duel works as intended.

OBS: if you die the kills count gets back to normal but the duels still wont trigger and your last death will not show up on the

[2018-07-09 01:42] chrisinajar opened #2265 "Add Shadow Fiend souls to save/load state"

[2018-07-09 01:43] chrisinajar opened #2266 "Add Pudge flesh heap to save/load state"
We tried adding this but it didn't work the obvious way -- odds are we need to re-implement the ability to have it respect the stacks being set.

[2018-07-09 01:44] chrisinajar opened #2267 "Add wards to save/load state"
They need to save the time left as well as the type (poop vs obs)

[2018-07-16 01:34] warpdragon commented on #2228
It's fine now. Why? Because I am here!

[2018-07-16 02:17] warpdragon commented on #2228
A concept for an Ice "Skofnung" ![concept](https://user-images.githubusercontent.com/13878439/42741052-a1af9228-8863-11e8-9af0-fa435b1e1f43.png)

Based on this:
![source](https://user-images.githubusercontent.com/13878439/42741063-b7aa018a-8863-11e8-9b77-0e894270f2e0.png)

[2018-07-16 02:22] warpdragon commented on #2244
hahaha this

[2018-07-16 12:07] warpdragon commented on #2228
I also like the idea of lerajes bow. Hmmm

[2018-07-17 09:14] Trildar commented on #2237
Should have been fixed by #2262.

[2018-07-18 14:41] Frebra commented on #2109
https://soundcloud.com/frej-brandt-serrander/azazel-showcase

[2018-07-18 16:51] khaostein commented on #1578
Hello, is this still open? I want to try as a first project.

[2018-07-18 20:57] l34Um1 opened #2287 "Item Reimplementation Part 2"
Implement lots of items into new upgrade trees in the shop. This moves various items around, too many to conveniently list them. I have made a draw.io that shows all the changes.

This video explains it, please watch it: https://youtu.be/faTY7qKDxxU

Here is the draw.io: https://drive.google.com/file/d/0ByBCPW0toY-pemJjdGNJTnRnS0k/view?usp=sharing
Anything marked in blue has been moved to a new tr

[2018-07-19 00:07] TKing321 commented on #2287
Just to make sure: the only thing that needs to be done is a change in the KV files to show the new item paths, nothing else. Is that correct?

[2018-07-19 00:43] TKing321 commented on #2287
do you want to have the item_greater_guardian_greaves_dummy removed as well or is that staying?

[2018-07-19 05:30] DarthRecca commented on #2238
Claimed please 😄

[2018-07-19 08:25] l34Um1 opened #2289 "Make Cleave physical damage that's reduced by armor"
Currently cleave is physical damage that isn't reduced by armor. Change this to be physical damage that is reduced by armor. Don't change any of the other cleave calculations.

[2018-07-19 14:34] fcalife commented on #2289
Use 3 findunitsinline - find the enemies in a rectangle that contains the trapezoid, then remove from that list the ones in the two triangles that belong to the rectangle, but not the trapezoid

[2018-07-19 15:13] TKing321 commented on #2287
Do you still want arcane boots to exist then? They are not in your diagram.

[2018-07-19 15:17] imaGecko commented on #2287
they exist to be upgraded into guardian greaves

[2018-07-19 15:17] TKing321 commented on #2287
sorry I meant greater arcane boots

[2018-07-19 17:02] fcalife commented on #2289
https://hastebin.com/urabewohab.lua

[2018-07-19 17:57] Trildar commented on #2289
`Vector( vDirection.y, -vDirection.x, 0.0 )` That's not how you get a perpendicular vector. Assuming that's what you wanted.

[2018-07-19 17:58] fcalife commented on #2289
I've no idea what the creator wanted, all i know is its implemented in dota imba, so I assume it works.

[2018-07-19 18:05] Trildar commented on #2289
Ignore me. Got confused. This code definitely makes a number of assumptions though. Such as `vDirection` being a unit vector and `endRadius` never being less than `startRadius`. Would probably make much more sense to change it to use a line search as the basis.

[2018-07-19 18:48] TKing321 commented on #2287
@l34Um1 do you want greater arcane boots to exist or are they being removed?

[2018-07-19 22:45] l34Um1 opened #2294 "Purge ongoing abilities/buffs/debuffs when going into a duel"
Currently: Activate Medusa ult, duel starts, Dusa ult is still happening.
Changed to: Activate Medusa ult, duel starts, Dusa ult isn't happening anymore.

Currently: Activate BKB, duel starts, BKB is still happening.
Changed to: Activate BKB, duel starts, BKB isn't happening anymore.

Currently: Affected by Fury Swipes, duel starts, still affected by Fury Swipes.
Changed to: Affected by Fury Swipe

[2018-07-19 22:47] l34Um1 opened #2295 "Giant Form attack rate should override everything else"
Currently Sohei and Riki ult bypass Giant Forms attack rate debuff. Instead they should be slowed to Giant Forms attack rate.

[2018-07-19 22:48] l34Um1 opened #2296 "Juggernaut can oneshot twin boss by pulling creep to them and then using ult"
Ult jumps to the, they are considered creeps and are oneshot. Should be a rather easy fix.

[2018-07-19 22:51] l34Um1 opened #2297 "Replace Clinkz Level 25 "+4s Strafe duration" talent"
Instead he should have "-5s Strafe cooldown".

[2018-07-20 02:07] Trildar commented on #2294
There isn't really any way to do this in a blanket manner. Modifiers to be removed would have to be in a specific list. Given, I'm not sure if we currently have a strong purge applied at start of Duel, but all of the things you listed here would not be affected by that anyway.

[2018-07-20 02:57] Trildar commented on #2294
I guess one way might actually be to just kill everyone. That'll probably get rid of most things.

[2018-07-20 05:08] #2069 closed

[2018-07-20 10:36] l34Um1 commented on #2294
Wouldn't get rid of TB transform. But yeah other than that, just killing everybody sounds like a great idea.

[2018-07-20 16:02] DarthRecca commented on #2228
![leraje s bow](https://user-images.githubusercontent.com/22368319/43012639-4ccd093e-8c64-11e8-9c4b-6eb7691e9f52.jpg)
Made a small quick icon for leraje's bow(I know it's crappy but I don't have warpdragon level of skill)

[2018-07-20 17:41] warpdragon commented on #2228
call me crazy but that sure looks like you ripped off an existing asset from somewhere

[2018-07-20 22:22] warpdragon commented on #2228
Version 2
![image](https://user-images.githubusercontent.com/13878439/43027702-b776a0ee-8c30-11e8-868c-4fd8ed557c85.png)

[2018-07-20 23:16] warpdragon commented on #2228
Version 3
![image](https://user-images.githubusercontent.com/13878439/43029020-3badaf72-8c38-11e8-9c87-5b124a43620a.png)

[2018-07-20 23:20] warpdragon commented on #2228
Version 3
![image](https://user-images.githubusercontent.com/13878439/43029126-cbad466e-8c38-11e8-8299-e4ffc250f239.png)

[2018-07-20 23:22] l34Um1 commented on #2287
Greater Arcane Boots should continue to exist as they are now. They and Guardian Grieves offer the same passive GPM bonuses at all levels and mana boots can at any point be upgraded to grieves.

[2018-07-23 01:34] DarkoniusXNG commented on #2294
This should work in theory:
[code]
It removes all modifiers with non-infinite duration. It doesn't purge/dispels the unit, it **removes** everything that has a duration from the unit - so there may be some errors if Valve messed up some buffs and debuffs. I have a feeling Morphling's Morph will be a problem. But maybe I am not right. You can always test it, you have nothing to lose.

[2018-07-23 12:19] mikibun opened #2311 "OAA Donation Bottles/Sohei Arcanas"
Hi,
For the Fundraiser stream we said everyone who donated 3€ or more gets a donator bottle. We need this implemented.
https://docs.google.com/spreadsheets/d/13WrW0wkaAMMBOJZ0XDZAhKGxao5SnTtvZfUNg_viKHg/edit?usp=sharing
This is a list of the steam IDs (Steam32) for people who get the rewards, Most people get both, they're listed under Sohei Arcana + DB, but the ones listed under Just DB only get t

[2018-07-24 12:49] mikibun commented on #1281
Is anybody still working on this?

[2018-07-24 13:03] imaGecko commented on #2311
would need to know which bottle it actually is

[2018-07-26 03:30] Trufllehunt commented on #2163
claimed

[2018-07-26 13:50] mikibun commented on #1578
@khaostein You're more than welcome to it as a first project

[2018-07-27 00:03] Trufllehunt commented on #2124
Much progress! Sorry for not adding anything here! I always add it to the discord.

So far i have finished the **model** and re done it twice haha.
I also have some basic **icons**.
Added **textures**. (Textures may need to be optimized according to warpdragon)
Added **Animations** which need optimization. There are currently a few bugs with the animations and their relationship to the ability scr

[2018-07-27 10:48] khaostein commented on #1578
Thank you. I will work on it

[2018-07-27 18:15] #2228 closed

[2018-07-29 19:48] carlosrpg commented on #2165
Claim

[2018-07-29 20:04] carlosrpg commented on #2264
Not able to reproduce

[2018-07-29 20:04] #2264 closed

[2018-07-31 23:43] AbitTheGray commented on #2297
Work-In-Progress

[2018-08-01 21:01] AbitTheGray opened #2341 "Sohei's W on allies talent breaks the ability"
Sohei's W (shield) can be also cast on allies when you get the talent for it. If you choose the other one but get this one with aghanim, the ability breaks and not allow you to cast it until the aghanim is removed from inventory.

[2018-08-03 09:40] AbitTheGray commented on #2160
Gonna try it.

[2018-08-03 12:36] AbitTheGray commented on #2160
Ready but still require in-game test and setup git for pull request.
And no, I did not forget to implement arrow multi-shot or cooldown reduction.

[2018-08-03 22:16] carlosrpg commented on #2165
@l34Um1 I would like to receive that on a different paypal account, let me know when you plan to pay this

[2018-08-03 22:17] carlosrpg commented on #2232
@l34Um1 this was done by Warpdragon, Should pay him so we can close this bug

[2018-08-03 22:19] carlosrpg commented on #2100
how we are handling that? we should pay him at least a share, I fixed most the bugs on the Cap point already. there is nothing else to do on this I think

[2018-08-03 22:23] carlosrpg commented on #2070
Since no one have claim that I will reclaim this... again...

[2018-08-04 11:56] Trildar opened #2345 "Re-implement Lycan Summon Wolves"
The wolves aren't scaling past level 4. Likely the ability needs to be re-implemented. Though maybe there's some other issue.

[2018-08-04 15:17] Yahnich commented on #2345
iirc you just need to add wolfnpcname_5 to 7 to the unit list, thats how i did it in ebf

[2018-08-04 16:14] AbitTheGray commented on #2160
Status:
- Multishot works, can also add more then 2 arrows
- Arrows do not trigger on hit
- Arrow stun not implemented (but calculated), deals only damage (if only on hit trigger work)

[2018-08-04 17:03] Trildar commented on #2345
I kinda assumed that had already been done. Seems they're named wrongly.

[2018-08-04 17:03] #2345 closed

[2018-08-06 22:19] AbitTheGray commented on #2160
Finally got it working.
Gonna PR in about a day (still need to prevent multiple arrows (lvl 25 talent) to hit same unit) but it is working!

One small but will appear because ExtraData of projectile cannot transfer Vector (which did not cause the problem but I needed to fix it too).
With refresher (or WTF) you can get maximum arrow damage/stun by recasting it further away the target before the fir

[2018-08-07 19:51] AbitTheGray commented on #1692
I have it ready. Gonna PR in 24 hours if it is still wanted.

Checks (and removes) only `modifier_bashed`.

[2018-08-07 20:16] carlosrpg commented on #1692
Plz don't this ticket should be closed.
We use Siltbreaker protection for preventing stuns, not all bosses have it

[2018-08-08 08:31] Chronophylos commented on #1281
no but i made some progress [here](https://github.com/chronophylos/oaa/tree/ebf-bosses) that didn't get merged

[2018-08-09 11:02] l34Um1 opened #2352 "Reddit Post"
# Announcing the Open Angel Arena September Major! A $5000 custom game tournament streamed by Beyond The Summit!

Yoooo,
Super exciting stuff! We have been hard at work and got the game to a really good spot. Ranked picking is in, MMR is working, balance and design are looking strong. It's time for another tournament!

## $5000 are on the line!

Yes, you read that right! All of our tournaments are

[2018-08-09 13:19] DarkoniusXNG commented on #2233
BaseClass of **npc_azazel_tower_defense** and **npc_azazel_tower_watch** is causing this issue. Changing the BaseClass would solve the problem but it would raise more issues (for example if you change the BaseClass to npc_dota_creature, towers will be like creeps - not be immune to spells and cleave).

Applying a modifier with MODIFIER_STATE_NOT_ON_MINIMAP_FOR_ENEMIES to towers (and walls) could s

[2018-08-09 13:53] zelding commented on #2233
so we would have to re-implement buildings ?

[2018-08-09 14:15] DarkoniusXNG commented on #2233
Yes, or add bunch of exceptions in Damage Filter.

[2018-08-09 14:42] DarkoniusXNG commented on #2295
Just an idea how to easily fix this. Giant Form maybe doesn't work while someone is invulnerable. Add the following:
[code]
inside giant_form.lua somewhere here: https://github.com/OpenAngelArena/oaa/blob/master/game/scripts/vscripts/items/transformation/giant_form.lua#L35

If this doesn't work you will need a way to detect when abilities like Riki/Sohei ults are cast and then override the fixed a

[2018-08-09 14:48] Trildar commented on #2295
That's not the issue. If it didn't work at all, it wouldn't be a balance issue. It still gives the bonus attack damage and splash effect. It doesn't affect those abilities because those abilities don't care at all about the hero's attack rate.

[2018-08-09 14:53] DarkoniusXNG commented on #2295
Ah my bad. Then you need reworked Sohei ult and reimplemented Riki ult.

[2018-08-09 17:56] AbitTheGray commented on #2289
Work-In-Progress
I hope to get it ready in 2 weeks to have it ready for tournament.

[code]

[2018-08-09 18:19] DerpySoccerBall opened #2354 "Make trolls bash have a internal cooldown"
did someone say perma bash?

[2018-08-09 18:24] DerpySoccerBall opened #2355 "Fix bashes"
My idea is the more people get bashed, their status resistance increases so the bashes don't last as long, it would make the game feel much better in my opinion.

[2018-08-09 18:26] #2355 closed

[2018-08-10 11:58] DarkoniusXNG commented on #2289
https://github.com/OpenAngelArena/oaa/blob/81e9680b04d77735e1d42f5a7f8c1fc090af54e7/game/scripts/vscripts/abilities/swiper/boss_swiper_swipe.lua#L18

[2018-08-10 17:31] DerpySoccerBall opened #2358 "Ranked all pick bug"
if two players pick their heroes at the same time, they will both be able to pick a hero then. It should only let one player pick.

[2018-08-10 17:33] DerpySoccerBall opened #2359 "Spirit vessel is broken"
you can buy a t2 soul vessel with just the recipe and the core, don't need the actual item, and if you do that the vessel does not get charges anymore.

[2018-08-10 19:06] DerpySoccerBall opened #2360 "Capture points are invisible (underneath the map)"
this can cause confusion

[2018-08-10 19:17] DerpySoccerBall opened #2361 "Change boots of travel"
make it so you need to upgrade them with a farming core to be able to teleport to heroes. Having spare boots of travels in your backpack on a carry to tp to your team is a little too strong.

[2018-08-10 19:45] DerpySoccerBall opened #2362 "Batrider can instantly kill weaver boss"
Batrider just has to use napalm once and then use flame break or Firefly and the boss with instantly die.

[2018-08-10 22:17] VoidsKeeper commented on #2352
(((TITLE OF THE POST))) **Анонс Сентябрьского Мейджора по Open Angel Arena! Соревновательной турнирной игры с призовым фондом в 5000$, стримить которую будет Beyond The Summit!**

(((BODY OF THE POST))) Хееей, эта новость вам точно понравится! Мы усердно работали и теперь игра доведена до отличной кондиции. Ранковый пик работает, ММР чувствует себя хорошо, баланс и дизайн в норме. Пришло время ещё

[2018-08-11 08:51] Celireor commented on #2296
Would be a rather easy fix but would screw with the targeting

[2018-08-11 17:13] #2358 closed

[2018-08-13 02:54] #2360 closed

[2018-08-13 02:54] #2359 closed

[2018-08-13 15:15] DerpySoccerBall opened #2370 "Crimson guard is broken"
it stops at lvl 3

[2018-08-13 15:18] #2370 closed

[2018-08-13 23:40] chrisinajar commented on #2235
pretty sure this is done

[2018-08-13 23:40] #2235 closed

[2018-08-13 23:41] chrisinajar commented on #2234
I completed this.

[2018-08-13 23:42] chrisinajar commented on #2224
Needs testing, Trildar may have already fixed this.

[2018-08-14 09:21] Celireor opened #2372 "REMINDER: item_datadriven is currently bugged, respawning with a non-owned item_datadriven item will make it give stats"
How to replicate

1) - Give allied cyclone (or another item_datadriven item) to ally
2) - Ally drop anything BUT the cyclone or die
3) - Respawn
4) - Ally gain stats

[2018-08-15 11:25] mikibun commented on #2100
@M-Faraday @carlosrpg Do you guys wanna split the bounty evenly?

[2018-08-16 18:06] DerpySoccerBall opened #2374 "Replace AA's lvl 25 900 cold feet aoe talent with +4 cold feet charges"
this is really good and the hero is stupidly broken especially after making certain items give less strength, I was also thinking to make AA's ultimate not stop all healing but a percentage, like 40%, 50%, 60%, 70%, 80% of the healing.

[2018-08-16 18:08] DerpySoccerBall commented on #2374
you could also reduce the duration of AA's ultimate and increase the cooldown.

[2018-08-16 18:56] DerpySoccerBall commented on #1846
this still needs to be fixed

[2018-08-16 19:01] DerpySoccerBall commented on #2234
why was this reopened? Chris did it

[2018-08-16 19:03] DerpySoccerBall commented on #2297
this can be closed

[2018-08-18 16:29] DarkoniusXNG opened #2380 "Beastmaster issues"
1) Call of the Wild Boar's damage for the first 4 levels is 16/24/32/40. But Baumi intended to be: 20/30/40/50. This can be fixed like you fixed Lycan's wolves scaling and Lone Druid's Spirit Bear scaling.

2) Hawks in regular dota don't scale and don't spawn on level 1 and level 2 since patch 7.07. And they don't have invisibility anymore. If Baumi wants, that can be changed in OAA by adding beas

[2018-08-18 16:35] DarkoniusXNG commented on #2380
Carlos was working on reimplementing Call of the Wild: https://github.com/OpenAngelArena/oaa/pull/1630

[2018-08-19 15:39] AbitTheGray commented on #2295
How do you imagine that?
React to current attack-speed? Or check whenever is `Giant Form` active to use its attack speed?

[2018-08-20 20:15] AbitTheGray commented on #1833
Or do not give them hearth but different boss-only item which provides regeneration and is disabled while duels are active?
It would also prevent the boss from taking any damage while duels are active (in one game, Pudge killed twins by being out of duel while having Rot active).

[2018-08-21 16:09] Satsaa commented on #2311
Surely its this
![](https://cdn.discordapp.com/attachments/404979387121795074/449944619241963541/unknown.png)

[2018-08-27 20:32] #2297 closed

[2018-09-18 21:50] l34Um1 opened #2411 "Implement new creep camps"
# New Creep Camps

We want to introduce more interesting creep camps. Below you see a map. Each camp will be replaced as is marked on the map and described below.

![creep camps](https://user-images.githubusercontent.com/24982519/45715975-da318600-bb95-11e8-92af-7fe56beaba02.jpg)

The new creep camps each have at least one unit each with two abilities. These creeps will use the abilities described

[2018-09-20 15:48] DarkoniusXNG commented on #2411
I can start this by creating KV files. I have some questions:
1) In camp 2: the active ability should be a point target ability or no target ability? If point target: Should it be like Ice Vortex (affects the area for a few seconds) or Arcane Curse (affects the area only on cast)?
2) In camp 4: Aura that gives magic resistance should be recreated, or this: [Cloak Aura](https://dota2.gamepedia.com/

[2018-09-20 19:44] l34Um1 commented on #2411
1. Ice Vortext but actually old off on making new abilities for a second. We want the Thinking Bottle programmers to play with the dota engine a bit so we want them to make the custom abilities for this.
2. Yes cloak aura is fine.
3. I think those are good ideas. Crit aura sounds good, Invisibility sounds good as well. The howl is a neat ability but I think invis is better for the game.

[2018-09-20 19:46] DarkoniusXNG commented on #2411
I am just making templates for now.

[2018-10-04 19:18] l34Um1 commented on #2411
Don't worry about waiting anymore. Also the #4 camps have been moved a bit inward in the newest version of the map.

[2018-10-09 11:05] #2224 closed

[2018-10-09 20:52] DarkoniusXNG commented on #2287
@l34Um1 I noticed that everything is done here except the last tree (Echo Sabre). I can do that. Also Lucience is built from Drums. I have some questions:
1) Should we remove Vanguard ? If not I have a suggestion how to use make it useful. For example: First Crimson Guard could also be made from the following recipe: 2 x Vanguard + Helm of Iron Will + Core 1 + Recipe. Or we could just make it a pa

[2018-10-19 12:28] Frebra commented on #2109
can I split a bounty with somebody who writes?

[2018-10-19 12:29] Frebra commented on #2109
Writing should really have been seperate

[2018-10-20 12:02] Nortlen commented on #2296
shielder can also be one shot using jugg's ult

[2018-11-22 21:43] DarkoniusXNG commented on #2354
This can be closed because Troll's new ability is a root now.

[2018-11-22 21:43] DarkoniusXNG commented on #2341
This can be closed.

[2018-11-22 21:45] DarkoniusXNG commented on #2289
This can be closed. Cleave is reworked.

[2018-11-22 21:47] DarkoniusXNG commented on #2164
This can be closed too I guess.

[2018-11-22 21:48] DarkoniusXNG commented on #2160
This can be closed.

[2018-11-23 10:18] #2160 closed

[2018-11-23 10:18] #2164 closed

[2018-11-23 10:18] #2289 closed

[2018-11-23 10:18] #2341 closed

[2018-11-23 10:18] #2354 closed

[2018-12-01 00:58] #2296 closed

[2018-12-29 05:53] MountainEucalyptus commented on #2191
Has this been resolved and the issue not closed or is it still not fixed? I am wanting to start trying to help with OAA and if this is not resolved then it could be ideal

[2018-12-29 14:06] DarkoniusXNG commented on #2191
There is a Pull Request for this. But it was never added for some reason.

[2019-01-26 19:04] DarkoniusXNG commented on #2163
Give bounty to @chrisinajar or we riot. xP

[2019-01-26 19:04] DarkoniusXNG commented on #1549
This was implemented.

[2019-01-26 19:05] DarkoniusXNG commented on #2165
This was implemented.

[2019-03-12 03:40] genious97 commented on #2411
@DarkoniusXNG are you still working on this issue

[2019-03-12 16:58] DarkoniusXNG commented on #2411
I stopped working 2 months ago. I was planning to finish it after the Major. Contact me on discord if you want to help somehow.

[2019-03-14 20:54] DarkoniusXNG opened #2522 "Visage Summon Familiars Rework"
Summon Familiars and Stone Form self cast need rework. Level 5 Summons Familiars ability doesn't work how it should even when using a naming convention mentioned here: https://github.com/OpenAngelArena/oaa/issues/19#issuecomment-271560766

For those that don't know: Visage familiars lvl 5 never spawn. When you use max level Summon Familiars, last spawned familiars would spawn instead. So if you di

[2019-03-14 20:58] DarkoniusXNG opened #2523 "Chatterjee + Cast Range bonuses"
When you have too much cast range bonuses, Chatterjee's Q ability (Static Grip) can instantly break on use. The issue is probably break distance not increasing with cast range bonuses.

[2019-03-14 21:10] DarkoniusXNG opened #2525 "Greater Phase Boots rework for melee heroes"
Greater Phase boots needs a rework for melee heroes.

Reason: Because of Valve changes in 7.20, all attack proc rules are messed up. Melee heroes can proc any attack modifier on splintered attacks. Because of this, melee heroes can cleave on every splintered attack and oneshot camps.

How to rework: For melee heroes, make a splinter shot like a normal projectile that deals fixed damage (damage of

[2019-04-03 17:30] lovesmuffins commented on #2525
range units can also use projectiles right?

[2019-04-03 22:45] ScrubbyNubby101 opened #2540 "Boots movement speed stacks"
![dsd](https://user-images.githubusercontent.com/34697728/55518056-380c5380-5638-11e9-97a7-d71c06b4c8cc.png)

[2019-04-04 02:15] Trildar commented on #2525
I would have changed Phase Boots to do an attack damage based ApplyDamage or whatever ages ago if only the DotA API wasn't so stupid about querying a hero's attack damage.

At this point maybe I should just concede and use the GetAverageTrueAttackDamage nonsense and accept that it'll act weirdly with percentage outgoing damage modifiers

[2019-04-04 16:19] DarkoniusXNG commented on #2525
GetAttackDamage() should be better.

[2019-04-04 23:03] Trildar commented on #2525
Think that's only base damage. Unless they actually added a function that returns total attack damage and I didn't notice.

[2019-04-05 00:21] DarkoniusXNG commented on #2540
This can be closed now.

[2019-04-05 00:22] DarkoniusXNG commented on #2525
I didn't see its only base damage. GetAverageTrueAttackDamage it is then.

[2019-04-07 13:10] SquawkyArctangent commented on #2523
Have we actually gotten a function to get a hero's bonus cast range yet? I don't think we have.

Though, I suppose this could be solved by instead, like, just removing the break limit entirely. It's not like it's exactly relevant outside of the niche trick of being able to break it with Force Staff.

[2019-04-08 12:26] l34Um1 opened #2547 "Changes"
Hi, I don't really want to make a million different issues. This is mostly just to have a checklist.

- [ ] When bosses have been aggro’d they start taking 1% of their max hp in damage every second.
- [ ] Buff boss hp.
- [ ] Sellable cores
- [ ] Scoot base bosses towards inner corners
- [ ] New creep camps #2411
- [ ] Creeps also need to be nerfed
- [ ] Proper starting items
- [ ] Limit boots and

[2019-04-08 13:10] POCKETMONEY99 commented on #2547
A few other things I would consider.

-Isolate the ancient camps. The auras affect the nearby medium camp (The one next to the power rune).

-After 7.20 increased all auras AOE's, the hard camp auras affect the nearby bosses making them harder to take. Replace them with a different camp or move them.

-Remove First duel. It serves no purpose other then allowing one team to get a lead. Reduce the s

[2019-04-08 13:11] l34Um1 commented on #2547
1. Irrelevant because of the changed creep camps.
2. Irrelevant because of the changed creep camps.
3. Not right now.
4. No.

[2019-04-08 13:12] SquawkyArctangent commented on #2547
Bounty rune spawn time is completely hard coded into DOTA, anyway. Closest thing that could be done would be to lessen the rewards.

Also, starting items: do they build into exactly the appropriate boot type, or are they just part of the boot upgrade tree?

[2019-04-08 13:13] POCKETMONEY99 commented on #2547
Instead of buffing boss HP I would buff boss armour. You dont see magic damage heroes shredding bosses.

[2019-04-08 13:14] LeighJoseph commented on #2547
Don't bounty runes spawn every 5 minutes in Dota?

[2019-04-08 13:14] l34Um1 commented on #2547
@POCKETMONEY99 please stop cluttering the thread.

@SquawkyArctangent They build into the exact boot type.

[2019-04-08 13:25] SquawkyArctangent commented on #2547
Should the Farming Core ( given at the start of the game ) be reintroduced for the sake of limiting starting items to one? My initial thought was that it wasn't all that necessary since the order filter could be expanded to filter out buying 'em when you already one, but then I realized that'd also involve doing something so you couldn't drop a starting item on the ground and _then_ buy a new one,

[2019-04-08 13:30] l34Um1 commented on #2547
That would work as a workaround to make it a bit simpler yes.

[2019-04-08 18:18] SquawkyArctangent commented on #2547
On the boss exp bounties: do you want them to just be like, normal creep exp bounties, where all heroes in exp range get a split of it? Or do you want something more complex, like only giving the exp to the team that killed it, or the one that captures the point? If it's the former, that's something you could easily do, as that's just controlled by the BountyXP value in the bosses' kv files.

[2019-04-08 18:42] l34Um1 commented on #2547
Just normal ones, I'll do it.

[2019-04-13 22:15] #2523 closed

[2019-04-14 16:19] Larenall opened #2561 "Moriah`s dagger self dmg is amplified with spell amp"
![image](https://user-images.githubusercontent.com/34693826/56095919-39683680-5eea-11e9-860f-5004ed203bfb.png)
![image](https://user-images.githubusercontent.com/34693826/56095921-4553f880-5eea-11e9-81c3-07b758f4b9a0.png)

It should reflect 5k dmg cuz i deal 5k dmg
but i took 14.5k instead
I have ~200% spell amp so math makes sense

[2019-04-14 17:11] #2561 closed

[2019-04-15 12:56] l34Um1 opened #2565 "Wandering Boss"
This boss doesn't have a boss pit. Instead it wanders around the map.

- Every 30s the boss randomly chooses a location on the map that is at least 2000 units away.
- It will then walk towards the location at 100ms. Doesn't ignore pathing.
- Once it reaches the location it will rest there for 30s before choosing a new location.

![zones](https://user-images.githubusercontent.com/24982519/56132610-

[2019-04-15 18:40] l34Um1 commented on #2547
Updated with what we have finished so far and added a few more things.

[2019-04-26 18:59] l34Um1 commented on #2565
Implemented.

[2019-04-26 18:59] #2565 closed

[2019-04-26 20:50] #2540 closed

[2019-04-26 21:36] l34Um1 opened #2583 "Dynamic Score Limit and Core Guy"
## Dynamic Score Limit
The idea is to have the starting score limit of the game be lower and have it increase dynamically through player action.

- The starting score limit is lowered to 30.
- Killing the first boss from a new tier adds 10 to the limit. _The first tier 1 killed adds 10 the limit. The first tier 2 killed adds 10 to the limit. Etc, up to tier 5, 50 points in total._

**The current s

[2019-04-27 08:59] l34Um1 opened #2587 "Vision creep"
A creep that patrols a specific route. When killed it reveals nearby bounty runes.

- Spawns at 0:00 like any other creep.
- Is an ancient creep.
- Moves back and forth along a specific path.
- High starting HP, very low magic resistance. _Might require its own scaling HP._
- Doesn't fight back, will simply continue walking it's path even if attacked.
- Regenerates HP using boss regeneration.
- Wh

[2019-04-27 17:18] #2525 closed

[2019-04-27 20:43] l34Um1 opened #2589 "Buffing creeps"
Special mini boss creeps. When killed the apply a transferable buff to the killer.

![buffing creeps](https://user-images.githubusercontent.com/24982519/56854323-ce305280-6934-11e9-85f7-fccf9ec0f6ab.jpg)
These creeps replace the center corner creeps. They're then moved and swapped with the nearby camps. _Don't worry about doing this, I'll adjust the map and camps myself once the creeps are in._

-

[2019-05-03 10:10] SquawkyArctangent commented on #2589
If you kill the bottom creep over and over but the top one stays alive, will the bottom one always respawn with the same buff, since the other buff is still on the map?

[2019-05-03 10:54] l34Um1 commented on #2589
I suppose so, yes.

[2019-05-03 17:54] Larenall opened #2598 "Phase spark/boots deal 100% splash dmg instead of 50%"
What title says. Just change few numbers, And while we are at it buff power spark/boots, they are shit rn. And there is no point on having lower stats on power spark/boots for ranged heroes.

[2019-05-03 20:02] SquawkyArctangent commented on #2598
[code]

y'know

i think this is a pretty wonderful story i've unintentionally told in this code

[2019-05-03 20:06] Larenall commented on #2598
@SquawkyArctangent I didn't quite get what u r trying to say as im not common with the programming language

[2019-05-03 20:11] SquawkyArctangent commented on #2598
the old phase boots kv didn't have a damage type kv, because it didn't need to with its instant attacks

so when i started working on 'em, i hardcoded in the damage type i was testing so i didn't have to reload oaa from scratch and update the values from kv

so everything was fine and dandy, and i just had to finish it up by replacing the hardcoded damage type with ability:GetAbilityDamageType()

[2019-05-03 20:13] Larenall commented on #2598
Now i get it

[2019-05-04 01:31] #2598 closed

[2019-05-08 12:42] Larenall opened #2612 "Phase boots/spark dont work"
Phase boots` Phantom hits dont go off

[2019-05-08 12:52] #2612 closed, assigned to nobody

[2019-05-14 22:34] #2583 closed

[2019-05-16 21:49] ghost opened #2626 "Scan goes off cooldown while paused"
https://www.twitch.tv/videos/425099413?t=02h21m35s

[2019-05-17 08:23] Larenall commented on #2626
It may only be a visual

[2019-05-17 08:24] Larenall commented on #2626
Sometimes its says that scan or poop ward is off cd when it not

[2019-06-03 18:16] Larenall opened #2653 "Tree optimisation"
![Items](https://user-images.githubusercontent.com/34693826/58824462-cc009880-8644-11e9-95a8-384e28a5600d.png)
S&Y&K =S&Y and S&K and Y&K
Not 1 item, but 3

[2019-06-03 19:32] chrisinajar commented on #2653
imo bloodthorne should still build out of orchid. bloodthorne is just a better orchid, it feels very natural. I'm down for orchid -> bloodthorn without an orchid 2 for sure.

I am extremely opposed to S&Y&K, it would require nerfing all the values to account for the additional ones and also removes an interesting choice from item buildups. I vastly prefer 3 strong (XYZ)&(XYZ) items over 1 medium X

[2019-06-03 19:33] Larenall commented on #2653
S&Y&K =S&Y and S&K and Y&K

[2019-06-03 19:43] Larenall commented on #2653
What is shivas cuirass? Was there such a custom item? If u mean shivas and AC then can be build w/o a core.

[2019-06-03 19:55] Larenall commented on #2653
Whats the point of having Bloodthorn from t1 core, it not even that good to restrict it that way.
Random idea that came to my mind just now, why not have Orchid build up into Bloodthorn of Hex item tree(euls, atos, memhammer).
![Ochid](https://user-images.githubusercontent.com/34693826/58830279-a5495e80-8652-11e9-8982-9cd48e2c7f0b.png)

[2019-06-03 21:04] POCKETMONEY99 commented on #2653
I think dragon lance should just be removed as an upgradeable item. Its so bad. The only way it would ouclass hurricane pike is if it gave way to much stats and then it would likely be purchased on melee cores along with ranged cores.

imo the tree should be
-Pike 1
-Pike 2
-Pike 3
-Pike 4 - Giant Form 1
-Pike 5 - Giant Form 2

[2019-06-03 21:06] Larenall commented on #2653
fully agree

[2019-06-03 21:12] POCKETMONEY99 commented on #2653
I think bloodthorn should be a tier 1 item because orchid is fairly weak in OAA, because you can easily get a dispel on any hero in ~2 minutes without fail. The mana regen barely matters and the stats are medicore compared to other tier 1 items.
Honestly on heroes I even want a bloodthorn on I would still go daedalus level 1 and 2 because orcid is a waste of a slot if you require cores to upgrade

[2019-06-05 21:24] Larenall commented on #2653
Soooo.... Can anyone do this?

[2019-06-06 03:42] POCKETMONEY99 commented on #2653
I started working on it a few days ago. I will finish it today or tomorrow.

[2019-06-06 16:31] POCKETMONEY99 commented on #2653
I have done all of this but I put nulllifier in a tree with more simillar stats across the options (Daedauls/Bloodthorn). I also haven't added manta style into the sange/yasha/kaya tree because heavens halberd would need to be in their for consistency reasons. Also I feel that if you want to swap your manta style for a Sange and Yasha etc, manta needs a buff.

[2019-06-09 10:39] Larenall opened #2665 "Shadow Shaman and Warlock ult buffs"
Shadow Shaman
Serpent ward dmg to 100/200/300/450/600
talent changes
lvl 25 talents +1 Serpent ward hp or 400 Q dmg
lvl 20 talents  +50 MS or +2.5 Shackle durration
Serpent ward dmg was useless
Buffing the talent?
A: buff wards -> with talents wards will do too much dmg
B: dont buff wards  -> Wards are only good with this talent( b4 lvl 25 ur ult is useless)
Imo best decision is to remove it and M

[2019-06-09 16:08] POCKETMONEY99 commented on #2665
Witchdoctor also has a similar problem to shadow shaman. They have wonky powerspikes with their ults due to them only really being good when then reach 25. (Witch doctor ultimate is actually redundant unless you take the level 25 talent).

But I like the idea of trying to smoothen out Power levels of spells without talents or OAA levels. A spell should definetly be useful without a talent.

[2019-06-09 16:36] Larenall commented on #2665
Ults of some heroes in oaa are at dota power lvl, not at oaa power lvl, its a problem that requres fixing.

[2019-06-14 08:10] POCKETMONEY99 opened #2681 "Improving Ultimate Scaling"
### **Improving Ultimate Scaling.**
A big issue which affects most ultimate’s is that their effectiveness in the midgame falls off massively. This is because barely any ultimate’s have been scaled to suit OAA. Once everyone is 6 slotted most ultimate’s become extremely weak. I have devised a way to improve a lot of ultimates. I will do this myself. I made this issue as I mainly need peoples opinio

[2019-06-22 15:20] ZzZombo commented on #2070
I could take this upon myself... what's the status?

[2019-07-08 13:46] #2653 closed

[2019-07-08 13:46] #2665 closed

[2019-08-31 18:04] POCKETMONEY99 opened #2724 "Improving New player Experience"
Main Issues I see with new players. (There are more but this is the main 3 which ruin player retention.

**Issue:**
No idea what to do with upgrade cores/ how to get them.
**Solution:**
Update the information tab ingame (I will do this if somebody can show me the file location). It hasn't been updated since farming cave which is really bad, considering how much the game has changed.

**Issue:**
Th

[2019-09-02 21:49] DarkoniusXNG commented on #2724
1) Info tab is up to date actually just nobody reads it. There are no mentions about bounty runes though. If you want to edit an info tab tooltips, its here: https://github.com/OpenAngelArena/oaa/blob/master/game/panorama/localization/addon_english.txt

2) I was thinking to increase Periodic gold (passive gold per second) actually because currently it lower than normal dota: 1 gold every 5 second

[2019-09-05 19:50] POCKETMONEY99 commented on #2724
I remember that fools gold was going to be removed but nobody got round to reimplementing the boots. But a large boost to passive GPM and a reduction in creep bounty may help level the playing field early game. New players are less likely to run into games where the enemy carry is quadruple their networth at 10 minutes if they have alot more gold.

[2019-11-13 23:30] DarkoniusXNG opened #2788 "OAA reoccuring issues"
I will list some general issues OAA has and I see nobody **actively** talks about. I will also propose some solutions and share ideas I have.

~~1) **Infinite mana on INT heroes and heroes that make support items**.
Possible solution: Making every ability mana cost higher at OAA levels and lowering INT gain on non-INT heroes.~~
~~2) **BKB makes ~50% of all heroes useless**.
Because duration doesn'

[2019-11-15 15:25] POCKETMONEY99 commented on #2788
1. I dont think infinite mana is an issue on 99% of heroes. Heroes that have mana issues will have mana issues throughout the game if they dont buy mana items. This is fine.

2.  I think BKB is fine. Bear in mind heroes like Skywrath and Zeus have dominated the meta at times and I dont think BKB has been touched. Item powerlevels also increase as the game proggresses so I think BKB should be left

[2019-11-15 20:21] POCKETMONEY99 opened #2789 "Boss Pit Allocation"
An Idea I got in response to #2788. The basis of this idea is to allocate different difficulty bosses to set Locations.

**Basic Idea**
- The 4 Safe Boss pits on each teams Highground are easy Bosses
- The 4 Corner Boss Pits Are medium Difficulty Bosses
- The 2 Middle Boss Pits in the Centre Are Hard Bosses.

*Additional Idea**
- From Tier 3 bosses and above the top middle boss is an ultra boss. U

[2019-12-09 11:40] #2724 closed

[2020-05-11 04:14] POCKETMONEY99 opened #2936 "Balancing Manacosts at OAA levels."
Manacosts are not in a good state at the moment. Some heroes are heavily impacted by the huge manacost spikes at OAA levels. Heroes like tidehunter are better off not skilling their ultimate at OAA levels as they cost most of the heroes mana pool. There is also the nasty suprise of having an item build which allows you to sustain your mana costs to leveling up and not having enough mana to cast yo

[2020-05-11 18:27] DarkoniusXNG commented on #2936
I disagree on some points.

1) All INT heroes should have high mana costs and their mana costs should not scale linearly. There are some few exceptions ofc but those are rare.

2. Heroes that have mana issues are STR and AGI heroes that dont buy a single item that gives them mana in some way. In other words greedy carries have mana issues. Some heroes do have weird and unjustified mana costs but s

[2020-05-12 00:26] POCKETMONEY99 commented on #2936
Why do INT heroes need extreme mana costs just because they are intelligence heroes. When you look at dota heroes, simillar spell archetypes tend to have simillar mana costs. Most mobility spells hover around 60 mana cost, most single target stuns are around 140 mana etc. Just because a hero is intelligence doesnt mea Some item builds on intelligence heroes like right click lina or QoP cannot func

[2020-05-12 19:44] Larenall commented on #2936
This makes so little sense to me

Idk why u mention tinker and storm soo often as if they are OP heroes and require a nerf when in reallity its all other int heroes that need the nerf cuz its them who have infinite mana. I have no clue why u think tinker has infinity mana, he did have a lot of effective mana(but no infinite) b4 darkonious nerfed rearm, thats true, but its no longer the case. Id sa

[2020-05-12 23:12] POCKETMONEY99 commented on #2936
I mention storm and tinker because these are the 2 heroes which are limited by their mana rather then cooldowns. They are instead limited by the amount of mana they have. My proposed changes is meant to be a quality of life change, along with it being a net buff for most heroes, while limiting the amount mana items can compound. If I put these changes into the game, people are not going to need hu

[2020-05-13 00:56] DarkoniusXNG commented on #2936
Am I the only one that sees flaws and contradictions in your posts?

Did you read what I wrote about mana regen nerf. If you linearise mana costs, you need to nerf **every +mana regen item, every +mana item and every +int item**. Ok? By doing that you would make most int heroes more dead than they are. You would kill Skywrath though :). But if you dont nerf every item like I said, INT heroes will

[2020-05-13 01:59] TheUnholyWrath commented on #2936
If a spell exists that you literally can't cast unless you buy a mana/stat item then that would be a problem (the only hero i've found that fits is lion [make finger cost 2343 at max level or I riot]). An actual "problem" under all this squabbling is spells with manacosts that don't scale in dota were never given oaa levels.

People would be bitching and moaning just as much about agi heroes havin

[2020-05-13 03:38] POCKETMONEY99 commented on #2936
I have reworded my initial post. Hopefully you understand what I am trying to do. Personally I dont see any flaws or contradictions in my reasoning.

I was only planning on reducing mana regen at OAA levels, along with a rescaling of the manaloss reduction items. I am not intending to change intelligence or raw mana values on items. This change is also intended to only affect the "OAA" section of

[2020-07-23 00:46] #2936 closed

[2020-07-30 00:41] DarkoniusXNG commented on #1589
Fixed long time ago, closing now.

[2020-07-30 00:41] #1589 closed

[2020-07-30 00:42] DarkoniusXNG commented on #1774
Fixed several months ago. Closing now.

[2020-07-30 00:42] #1774 closed

[2020-07-30 00:44] DarkoniusXNG commented on #1833
Fixed long time ago.

[2020-07-30 00:44] #1833 closed

[2020-07-30 00:46] #1946 closed

[2020-07-30 00:46] #1961 closed

[2020-07-30 00:47] #2009 closed

[2020-07-30 00:48] DarkoniusXNG commented on #2067
This was accidentally fixed when hero selection was changed.

[2020-07-30 00:48] #2067 closed

[2020-07-30 00:51] #2094 closed

[2020-07-30 00:51] #2095 closed

[2020-07-30 00:52] #2100 closed

[2020-07-30 00:53] #2163 closed

[2020-07-30 00:54] #2165 closed

[2020-07-30 00:57] #2195 closed

[2020-07-30 00:58] #2231 closed

[2020-07-30 00:58] #2237 closed

[2020-07-30 00:58] #2294 closed

[2020-07-30 00:59] #2362 closed

[2020-07-30 00:59] #2522 closed

[2020-08-24 17:12] #2295 closed

[2020-08-24 17:13] #1975 closed

[2020-08-24 17:15] #1581 closed

[2020-08-24 17:15] #1549 closed

[2020-08-24 17:15] #1692 closed

[2020-08-24 17:16] #1831 closed

[2020-08-24 17:19] #1834 closed

[2020-08-30 17:15] #1846 closed

[2020-09-29 21:27] DarkoniusXNG opened #2987 "TO-DO list"
- [ ] Fix corner camp abuse with small camps.
- [ ] Change Midas Spark (current ideas: increase XP gained on creep kill by 10%; increase XP gained with bounty runes)
- [ ] Bounty Runes check code if gold reward is correct. Hud message shows 40 gold even after 40 minutes.
- [ ] Fix Alchemist passive not working with Bounty Runes.
- [ ] Add abilities to Wanderer Boss.
- [ ] Make Wanderer Bosses more

[2020-10-31 22:58] #2085 closed

[2020-10-31 23:01] #2088 closed

[2020-10-31 23:04] #2191 closed

[2020-10-31 23:08] #2626 closed

[2020-10-31 23:16] #2238 closed

[2021-01-03 02:03] #2372 closed

[2021-02-08 01:50] DarkoniusXNG opened #3060 "Dagger of Moriah rework"
Some ideas:
1) Negative Pipe with duration - Provides negative magic resistance aura that affects enemies around you while active. Has duration. Doesn't pierce BKB. Doesn't affect bosses.
2) Timeless Relic with an active - Target an area and apply negative status resistance to all enemies in the area. Dispellable. Has duration.
3) Me Bane now - Converts all spell damage into pure damage for the du

[2021-02-09 01:02] POCKETMONEY99 commented on #3060
**Idea 1 is the best idea**, keeps the intention of the item the same and simultaneously makes it less extreme.
Idea 3 sounds OP but it could be balanced idk.
Idea 2, 4, 6 are ok but it changes the item from its original purpose of being an offensive spellcaster item.
 and 5 would be OP.

[2021-03-08 18:53] #3060 closed

[2021-04-23 01:44] DarkoniusXNG commented on #1580
Added a similar effect to Ghost King Bar.

[2021-04-23 01:44] #1580 closed

[2021-04-23 01:46] #2411 closed

[2021-04-23 01:48] #2267 closed

[2021-04-23 01:48] #2311 closed

[2021-09-07 22:18] DarkoniusXNG opened #3172 "Some custom items need sounds"
List of items not having sounds or needing better sounds:
Template: Item name - when the sound fires; what type of sound it needs;
1) Sonic Boots - On Activation; sound similar to Dark Seer Surge or similar to ''breaking the sound barrier'' boom sound
2) Heart Transplant - While Active (Looping); a sound similar to heartbeats.
3) Reduction Orb - On Activation; a sound that can be associated with m

[2022-01-28 21:00] #2112 closed

[2022-01-28 21:01] DarkoniusXNG commented on #2113
150 euros lmao #3291

[2022-01-28 21:01] #2113 closed

[2022-01-28 21:02] DarkoniusXNG commented on #2115
#3291

[2022-01-28 21:02] #2115 closed

[2022-01-28 21:03] DarkoniusXNG commented on #2114
#3291

[2022-01-28 21:03] #2114 closed

[2022-01-28 21:04] #2117 closed

[2022-01-28 21:04] #2118 closed

[2022-01-28 21:04] #2119 closed

[2022-01-28 21:06] #2086 closed